[2017-01-31 13:12] bhack commented on #202
What is the status of https://github.com/tiny-dnn/tiny-dnn/pull/443? What else is needed?

[2017-01-31 17:07] smissan commented on #537
I second the request - libDNN backend appears to be broken now - does not compile.

[2017-01-31 19:01] bhack commented on #537
See https://github.com/tiny-dnn/tiny-dnn/issues/286#issuecomment-249204555 /cc @edgarriba

[2017-02-01 01:26] fastalgo opened #538 "change batch size in mnist example got wrong answer"
I changed the batch size of mnist.cpp example from 10 to 64.

https://github.com/tiny-dnn/tiny-dnn/blob/master/examples/mnist/train.cpp

Then I got a wrong answer. Why?

[2017-02-01 12:13] kecsap commented on #533
I looked into the sources and also tried. You can call train() again without any problem, the weights are preserved and you can train the network with new samples.

In details:
init_weight() function initialized the weights and mark the initialized_ variable true. init_weight() is never called if initialized_ is true.

[2017-02-01 14:20] edgarriba opened #539 "Auto-grad during training"
Could be nice to introduce a library to handle automatic differentiation during the training.

[2017-02-01 14:22] edgarriba commented on #539
/cc @soumith do you see here any possible collaboration with Pytorch. You mentioned something about a standalone C++ version of your auto-grad stuff.

[2017-02-01 17:14] bhack commented on #539
Want we close https://github.com/tiny-dnn/tiny-dnn/issues/223?

[2017-02-01 18:15] soumith commented on #539
@edgarriba yes you could prob use it when it's fully fleshed out. here's the current ongoing development: https://github.com/colesbury/pytorch/tree/autograd/torch/csrc/autograd

[2017-02-01 18:16] soumith commented on #539
alternatively, you can also add it via dynet which is C++ autograd library

[2017-02-01 22:04] OleStauning opened #540 "SIGSEGV when adding dropout layer"
Code:
[code]

Error when using valgrind:
[code]
The code works fine without the dropout layer. Am I doing something wrong?

Best regards

[2017-02-01 23:13] smissan commented on #540
I saw a crash with dropout, but with a different model of course. Also works fine if I comment out dropout. This is on windows

[2017-02-02 00:41] edgarriba commented on #539
@bhack maybe yes

@soumith but what's the status of this project? And are you going to release it as a standalone library and totally independent of Pytorch? We're just looking for potential projects to propose as ideas for this coming GSoC.

[2017-02-02 00:42] soumith commented on #539
we dont have plans of releasing it as an independent project. it will be an independent library within the pytorch repo.

[2017-02-02 01:03] bhack commented on #539
I think that is embedded with pytorch Tensor like [Dali](https://github.com/dali-ml/Dali) is embedded with mshadow. And we have our own header only Tensor.

[2017-02-02 09:56] edgarriba commented on #539
@bhack ideally we should find something that it's "independent" of the Tensor library

[2017-02-02 10:04] bhack commented on #539
I don't think that exist something similar. De facto Tensor is not standardized in c++xx and every framework has its own :)

[2017-02-02 10:09] bhack commented on #539
/cc @dali-ml

[2017-02-02 11:16] soumith commented on #539
see https://github.com/dmlc/mxnet/issues/4735 for more about standardized Tensor.

[2017-02-02 12:43] bhack commented on #539
@soumith I've commented there about the Kronos effort to standardize Tensor api.

[2017-02-03 09:28] caozhengquan opened #541 "deviation caused by conv2d_op_internal"
hi,
with same input, weight and bias, i got different results between conv2 in matlab and conv2d_op_internal,
who can tell me whether this operation may generate deviation with accumulate deviation?

[2017-02-03 15:49] beru opened #542 "tiny_dnn::network components are not reentrant"
I tried to parallelize `network::test` but realized it's impossible to do so.
In `sequential::forward` and `sequential::backward` methods,
`layer::set_in_data` and `layer::set_out_grads` are called.
These methods set `edge::data_` and `edge::grad_` members.
So the network holds a context/state and not reentrant.
This prevents parallel computing so I wish the library will be updated.

Or is it by d

[2017-02-03 17:23] edgarriba commented on #542
Not sure why this design, my ship landed after that :smile: What do you propose? In this way we grow the computational graph at runtime I think. Not sure what can be done to improve that

[2017-02-03 18:07] tqchen commented on #539
depending on what you want to do. If you want symbolic automatic differentiation in computation graph, [NNVM](https://github.com/dmlc/nnvm) provide a compute invariant way to do so, and here is an example  project that uses the symbolic diff https://github.com/tqchen/tinyflow

[2017-02-04 15:33] Randl commented on #539
https://github.com/BachiLi/had - here is AD lib with a review of other libs

[2017-02-04 16:15] Randl commented on #539
http://www.autodiff.org/?module=Tools&language=C%2FC%2B%2B

[2017-02-05 07:09] beru commented on #542
Decoupling data storage members from network model objects is needed to make it thread-safe.
Each of multiple threads share the same computational model but they have to use separated processing context () within their threads.

I thought it'd be better to start parallelization at `network::train_onebatch` and `network::test(const std::vector<vec_t> &in, const std::vector<label_t> &t)` to increase

[2017-02-07 05:38] mani94454182 opened #544 "Fresh developer"
Hello
I'm a fresh developer and I want to contribute to this project up to level I can
Once I get comfortable in the work I ensure you that you wont be disappointed from me
I'm waiting for a chance to prove myself capable enough
hope to get a chance this time
Thanking you,

[2017-02-07 07:13] Randl commented on #544
Hi @mani94454182 !

We are happy to welcome new developers. Check our gitter: https://gitter.im/tiny-dnn/developers
For the beginning you might want to choose some small issue and try to fix it to get familiar with the code base.

[2017-02-07 07:54] Randl opened #545 "Adopt semantic versioning"
[Semantic Versioning](http://semver.org/) or semver is a simple set of rules and requirements that dictate how version numbers are assigned and incremented. It makes versioning more intuitive and easier to understand.

[2017-02-07 15:06] luketg8 opened #546 "Own training data"
What is the best way to format my own folders of images that I would want to use for training data in tiny-dnn?

[2017-02-07 15:17] #546 closed

[2017-02-08 01:02] roscopecoltran opened #547 "DNN MMOD"
Hi,

Hope you are all well !

Does Tiny-DNN supports [Max-Margin Object Detection](https://arxiv.org/abs/1502.00046) like dlib ?

eg: https://github.com/davisking/dlib/blob/master/examples/dnn_mmod_dog_hipsterizer.cpp

Have a great day !

Cheers,
Richard

[2017-02-08 06:43] weisunding commented on #231
Dose not work for me, cannot compile in Visual Studio 2013.

1>------ Build started: Project: AITrader, Configuration: Debug Win32 ------
1>  main.cpp
1>d:\tiny-dnn\tiny_dnn\core\framework\tensor.h : warning C4819: The file contains a character that cannot be represented in the current code page (936). Save the file in Unicode format to prevent data loss
1>d:\tiny-dnn\tiny_dnn\core\framework\tenso

[2017-02-08 07:08] Randl commented on #231
Visual Studio 2013isn't supported anymore

[2017-02-08 11:55] Randl opened #548 "Add benchmarking and regression testing"
Since performance is pretty important for us, we got to make some automated benchmarking and performance testing.
Running on real life example can include Caffe converter testing

[2017-02-08 14:49] angelanf5 opened #549 "when I release this tiny_cnn , it hints that"错误 1 error C1083: 无法打开包括文件: “tbb/tbb.h”: No such file or directory K:\同步文件夹\桌面-angelanf5\tiny-cnn-master\tiny-cnn-master\tiny_cnn\util\util.h 46 1 tiny_cnn""
i am using the tinycnn  (tiny-cnn-master, ) and when i want to release this project, it will:
![image](https://cloud.githubusercontent.com/assets/17898886/22742149/b66c7a90-ee50-11e6-8d79-61f952f45da0.png)

but , if i debug it ,it will be fine.
How can i release it ?

[2017-02-08 15:32] Randl commented on #128
As for now, VS2015 is the earliest supported version.

[2017-02-08 15:32] #128 closed

[2017-02-08 15:33] Randl commented on #120
@GminChaconne Can we close the issue?

[2017-02-08 15:38] Randl commented on #62
@dicroce Can we close the issue?

[2017-02-08 15:40] Randl commented on #34
@meanmee Can we close the issue?

[2017-02-08 15:45] Randl commented on #544
@mani94454182
I suppose you join our gitter chat. If you have any particular questions you can ask them there. If you have some problem - feel free to open the issue or ask in the chat - whatever you believe is more appropriate and convenient for you.

Is it OK if I close the issue?

[2017-02-08 15:47] beru commented on #549
Did you use cmake to build Visual Studio project files?
And this library does not support Visual Studio 2013 anymore so migrating to Visual Studio 2015 would probablly be needed.

[2017-02-08 15:52] Randl commented on #512
If I get you right, you want to convert `Mat` to `std::vector`, which is used in tiny-dnn.
I believe, this may help: https://stackoverflow.com/questions/26681713/convert-mat-to-array-vector-in-opencv

[2017-02-08 15:57] beru commented on #548
For this purpose, I'd like to modify `examples/cifar10/train.cpp` and `examples/mnist/train.cpp` programs to accept command line arguments for minibatch size and a number of epochs to train. They are fixed to 10 and 30. It's hard for me to wait for more than 5 minutes to measure performance.

And I'm not sure if we can rely on cloud server to measure this library's performance as doing so will con

[2017-02-08 16:01] Randl commented on #548
@beru I think having regression testing is important, so that we will now that particular PR doesn't reduce performance.

Agreed

I think, running short test to measure CPU time for two epochs (for example) in a couple of examples should be ok.

[2017-02-08 16:08] Randl commented on #548
To clarify, I've meant automated benchmarking and comparison between releases, not about comparison between tiny-dnn and other framworks (as in https://github.com/tiny-dnn/tiny-dnn/issues/197 https://github.com/tiny-dnn/tiny-dnn/issues/75 and https://github.com/ctuning/ck-tiny-dnn )

[2017-02-08 16:14] Randl commented on #149
This could be done after decoupling of activations ( https://github.com/tiny-dnn/tiny-dnn/pull/529 ) will be finished

[2017-02-08 16:15] Randl commented on #449
This could be done after decoupling of activations ( https://github.com/tiny-dnn/tiny-dnn/pull/529 ) will be finished

[2017-02-08 16:16] beru commented on #548
Running performance check on cloud servers may not be a good idea.
https://github.com/travis-ci/travis-ci/issues/352
I guess we can't guarantee same config hardware will continuously be used.

[2017-02-08 16:28] Randl commented on #541
@caozhengquan Can you provide sample input and code you run?

[2017-02-08 16:34] Randl commented on #267
@fslzj Sorry for late reply. Is the issue still relevant? If so, which hardware/os do you have? Which network you tried to run?

[2017-02-08 16:35] mani94454182 commented on #544
yeah thanks for the advise
you can surely mark this as solved

[2017-02-08 16:35] #544 closed

[2017-02-08 16:43] Randl commented on #271
@nyanp Can be closed? Seems like this code even doesn't exist anymore

[2017-02-08 16:49] Randl commented on #186
@nyanp Should we close the issue and move some generic version of this to [CONTRIBUTING.md](https://github.com/tiny-dnn/tiny-dnn/blob/master/CONTRIBUTING.md)?

[2017-02-08 16:51] Randl commented on #211
@higrepyo Are you finished yet? Can you give us a link to the paper so we can mention it in our README? :)

[2017-02-08 16:52] Randl commented on #324
@cathalgarvey We are working on `Tensor` implementation, which is actually preparation to GPU support

[2017-02-08 16:58] Randl commented on #7
VS2015 is the earliest version supported as for now

[2017-02-08 16:58] #7 closed

[2017-02-08 16:59] cathalgarvey commented on #324
So, if I understand, the experimental OpenCL support is *not* yet ready to use?

[2017-02-08 17:32] beru opened #550 "backend_type in layer class constructor"
I see `backend_type` parameter in some layer classes constructors such as `convolutional_layer`, `deconvolutional_layer`, `fully_connected_layer`, `max_pooling_layer`, `quantized_convolutional_layer`, `quantized_deconvolutional_layer`, `quantized_fully_connected_layer`.

I'm not sure why it needs to be specified at layer level. I just thought setting a backend at network level is much easier for u

[2017-02-08 18:29] Randl commented on #495
80 chars line with 2 spaces is adopted.

[2017-02-08 18:29] #495 closed

[2017-02-08 18:38] Randl commented on #393
@edgarriba @nyanp @beru @wangyida What do you think? Adding [Cotire](https://github.com/sakra/cotire/) sounds not that complicated, do we want to add it or somehow make it easier to use for end users?

[2017-02-08 18:38] Randl commented on #393
https://github.com/tiny-dnn/tiny-dnn/issues/420 is obviously connected

[2017-02-08 18:40] Randl commented on #223
Closing in favor of https://github.com/tiny-dnn/tiny-dnn/issues/539

[2017-02-08 18:40] #223 closed

[2017-02-08 18:41] Randl commented on #409
@tdlshashi Do you still have any problems?

[2017-02-08 18:41] bhack commented on #393
Want we to introduce for our binaries (tools, examples, tutorials) or simply inform third party developers?

[2017-02-08 19:34] Randl commented on #393
I'd say at least provide one example of how to use it and add couple of words in readme about speedup

[2017-02-08 21:02] bhack commented on #550
/cc @edgarriba This was initially designed for not homogeneous layer/engine coverage (libdnn was covering only convolution and now some pooling).

[2017-02-08 21:04] bhack commented on #548
Yes we need to do that on dev machine

[2017-02-08 21:07] bhack commented on #545
It is ok for me

[2017-02-08 21:20] Randl commented on #548
Maybe add a test with time measurements which prints results and ask devs to post its output together with PR?

[2017-02-08 21:27] bhack commented on #548
Yes but we need hardware fingerprint whencs sending cause we need to be sure if we are on the exact same platform.

[2017-02-08 21:55] Randl commented on #548
It's enough to show before and after, tho if there are significant changes, additional runs should be performed

[2017-02-08 21:59] bhack commented on #548
Execute on master before compile and execute on branch? We need sha.

[2017-02-08 22:17] higrepyo commented on #211
I'm sorry to notice you that I dropped out of the project 6 months ago because I got a full time job.

--------- 원본 메일 ---------

        보낸사람: Evgeniy Zheltonozhskiy <notifications@github.com>
        받는사람: tiny-dnn/tiny-dnn <tiny-dnn@noreply.github.com>

            참조: higrepyo <higre_pyo@hanmail.net>, Mention <mention@noreply.github.com>

        날짜: 2017년 2월 8일 수요일, 08시 51분 14초 +0900

[2017-02-08 22:19] Randl commented on #211
@higrepyo that's a pity. I'm clothing the issue then.

[2017-02-08 22:19] #211 closed

[2017-02-09 06:35] Randl commented on #11
@alexge233 Did you have a chance to check it? In no, do you intend to?

[2017-02-09 06:36] Randl commented on #12
@ZHYXL Did you check if the issue still present?

[2017-02-09 06:37] Randl commented on #18
@younglittlefat Have you succeeded?

[2017-02-09 06:38] #16 closed

[2017-02-09 06:38] Randl commented on #237
@manguyen Have you succeeded with training?

[2017-02-09 06:39] Randl commented on #394
@blakeliu Do you still have the issue?

[2017-02-09 06:43] Randl commented on #373
@yyfsss If you still have the problem please post the question on stackoverflow as asked and you may post the link to the question here.

[2017-02-09 06:45] Randl commented on #386
https://github.com/tiny-dnn/tiny-dnn/blob/master/examples/mnist/train.cpp#L71
The issue is still relevant.

[2017-02-09 06:48] Randl commented on #316
The issue is addressed in https://github.com/tiny-dnn/tiny-dnn/pull/529

[2017-02-09 08:57] #373 closed

[2017-02-09 10:07] #535 closed

[2017-02-09 10:08] bhack commented on #533
Can we close this?

[2017-02-09 10:13] bhack commented on #487
Any update on this?

[2017-02-09 10:14] bhack commented on #476
Any PR on this will be appreciated

[2017-02-09 10:15] #468 closed

[2017-02-09 10:15] Randl commented on #476
@bhack So I suppose the answer is "no"?

[2017-02-09 10:17] bhack commented on #476
I tagged with contributions welcome.

[2017-02-09 10:17] bhack commented on #461
Any news on this?

[2017-02-09 10:18] bhack commented on #460
We need a little bit more of detail. Have you a code snipset? Can you retry with master?

[2017-02-09 10:19] bhack commented on #459
Any news? Can you propose a draft PR?

[2017-02-09 10:21] #281 closed

[2017-02-09 10:23] bhack commented on #155
Can we close this?

[2017-02-09 10:24] bhack commented on #303
What is the status of this?

[2017-02-09 10:43] reunanen commented on #459
@bhack No news. As [I wrote](https://github.com/tiny-dnn/tiny-dnn/issues/459#issuecomment-267341135), [this change](https://github.com/reunanen/tiny-dnn/commit/38adeae05f9bacc8f921ae712f20fa2ac5dddcdd) made the import apparently succeed, but I have no clue if it breaks something else.

[2017-02-09 10:46] bhack commented on #459
Try to propose it as PR. We will put in the PR review queue.

[2017-02-09 11:26] dprylipko opened #551 "Slow inference on ARM CPU"
Hi,

I tried to measure a forward pass speed for a small network on Raspberry Pi 3. The network input is 88x88 greyscale image, it has 3 convolutional layers followed by one FC and the output layer.

The benchmark code looks like this:
[code]

It was compiled natively using only `-O3` option:

[code]

As the result I got ~689ms per pass for batch size of 1, which is twice worse than MXNet and 10 t

[2017-02-09 11:31] edgarriba commented on #551
/cc @beru

[2017-02-09 11:43] YuriOsokin commented on #533
Yes, thank you. I've been able to integrate your library very well.

On Thu, Feb 9, 2017 at 12:08 PM, bhack <notifications@github.com> wrote:

[2017-02-09 11:44] bhack commented on #533
Ok please open a PR if you think that we need to add something to the doc by you experience.

[2017-02-09 11:44] #533 closed

[2017-02-09 11:48] bhack commented on #433
@edgarriba I think that we can close it. Need we to add something about static in our cmake (example/tools/docs)?

[2017-02-09 11:58] edgarriba commented on #545
is it enough through CMake ?
https://github.com/edgarriba/tiny-cnn/blob/master/CMakeLists.txt#L11

[2017-02-09 11:59] bhack commented on #545
https://github.com/fakenmc/cmake-git-semver

[2017-02-09 12:00] bhack commented on #545
And https://github.com/toeb/cmakepp/blob/master/cmake/semver/README.md

[2017-02-09 12:04] edgarriba commented on #550
@beru the common use case might be the one you point out, a single backend per network. However, as @bhack comment, some backends do not cover all the operations. Also might be the case that for whatever reason you want to experiment with different backends. Finally, debugging was another reason which for I decided to implement this design.

Notice that there might some confusing variable names li

[2017-02-09 12:06] edgarriba commented on #324
@cathalgarvey only experimental and inefficient by now. As @Randl after integrating a proper Tensor model we'll be able to plug different device backends

[2017-02-09 12:10] bhack commented on #550
And remember that changing engine node by node could require Tensor memory copying overhead, scheduling problems etc. So this will be a major problem of op placement.

[2017-02-09 12:16] edgarriba commented on #550
right, but we could have a high level routine to set a single backend per network. I'd like to keep backend type per layer in order to have control over testing.

[2017-02-09 12:50] wonderzy opened #552 "Quantization code performance."
I need to use this on arm. I read the tiny_quantized_conv2d_kernel code, but it seems a brute_force one without using gemmlowp. Meanwhile, tiny-dnn seems only support the fc layer with gemmlowp. How can this play an amazing performance?

[2017-02-09 12:50] alexge233 commented on #11
@Randl Hi, I never managed to get it to build so I abandoned my effort. In hindsight, gcc 4.7.2 did not have full C++1y support.

[2017-02-09 13:00] bhack commented on #552
Can you join on https://github.com/tiny-dnn/tiny-dnn/pull/443?

[2017-02-09 13:49] Randl commented on #551
I'll try to check this when I get my RPi

[2017-02-09 13:50] beru opened #553 "Isolate serial_size_t inside serialization routines"
Use of `serial_size_t` should be limited inside serialization routines.
Right now `serial_size_t` type is used in many files but it should be simply replaced by plain `size_t`.

[2017-02-09 13:52] Randl commented on #433
@bhack I don't think we need to add anything to doc. This is mostly compiler-related and not tiny-dnn-related

[2017-02-09 13:53] #433 closed

[2017-02-09 13:55] Randl commented on #11
@alexge233 I suppose you to try with supported compiler if you're still interested. Feel free to open an issue if you find some bug or problem

[2017-02-09 13:55] #11 closed

[2017-02-09 13:58] Randl commented on #552
Probably https://github.com/tiny-dnn/tiny-dnn/issues/551 is related too

[2017-02-09 13:59] bhack commented on #551
@Randl our upstream nnpack engine has some neon support on not quantized networks

[2017-02-09 14:01] dprylipko commented on #551
Yeah, I will try NNPACK as well, but before that I wanted to get the reference performance for vanilla tiny-dnn.

[2017-02-09 14:17] bhack commented on #551
@dprylipko Ok but we actually don't have Neon code in our internal engine

[2017-02-09 15:49] beru commented on #550
@bhack @edgarriba Thank you for the explanation.

I think default backend for layers should be able to be set at network level since it lowers coding cost.

And if some users want to change backend type for specific layers, it would be good if they can change it by calling layer class method.

One problem I can think of by setting backend per layer level is, in case of quantized convolutional neur

[2017-02-09 16:53] edgarriba commented on #553
:+1: to include it into serialization routines

[2017-02-09 16:58] beru commented on #553
#484 is related.

[2017-02-09 17:53] beru commented on #550
@edgarriba Sure. This one is a trivial matter.

[2017-02-09 18:59] beru commented on #553
http://uscilab.github.io/cereal/serialization_functions.html

Currently, external (some are still internal) serialize functions such as
[code]

is used and `average_pooling_layer` class's `stride_x_`, `stride_y_`, `pool_size_x_`, `pool_size_y_` members use `serial_size_t` type.

External **split** load/save functions can be used to address the matter.
[code]

Shortcoming of this approach is redund

[2017-02-09 19:28] bhack commented on #553
I don't see any under the corner solution.

[2017-02-09 19:44] denizonural opened #555 "Pretraining such as ImageNet"
Does anyone have tiny-dnn / tiny-cnn pretrained? ImageNet pretraining, as done with AlexNet is preferred.

[2017-02-09 19:51] bhack commented on #555
You can try to use caffe converter.

[2017-02-09 19:58] denizonural commented on #555
I am a little confused about how caffe converter works. Does it create a link to Caffe, or is tiny-dnn trained?

[2017-02-09 20:01] bhack commented on #555
Can load caffe pretrained models in tiny-dnn

[2017-02-10 07:49] pliptor opened #558 "AVX does not get disabled in platforms that don't support it (Illegal instruction error)"
It might be a bit cryptic for the first user why the example code fails with only an "Illegal instruction" message at the output. The issue seems to be a combination of AVX flag to be ON by default in CMakeList.txt, and I believe cmake
not detecting and disabling the flag in platforms that do not support it. No warnings or errors are reported during configuration with "cmake ."

tiny-dnn v1.0.0a3

[2017-02-10 08:47] Randl commented on #558
The simplest solution for you is actually to manually setup flags.

Detection of platform is problematic since people might want to cross-compile.

@edgarriba Default AVX though might not actually be a good idea.

[2017-02-10 08:52] Randl commented on #555
Note that in can be a bit problematic https://github.com/tiny-dnn/tiny-dnn/issues/429

[2017-02-10 09:34] edgarriba commented on #558
@pliptor glad to hear that it worked well
@Randl yeah, we definitely should disable it by default. Could you open a ticket to put in the tasks queue for discussion and link this issue there?

[2017-02-10 09:53] Randl opened #559 "Default configuration should work anywhere"
As for now, AVX is enabled for default, which might be misleading (see https://github.com/tiny-dnn/tiny-dnn/issues/558 ).
I believe that default configuration should work on any PC

cc @nyanp @edgarriba

[2017-02-10 10:06] Randl commented on #457
cc @edgarriba @nyanp @beru @bhack

[2017-02-10 10:07] wonderzy commented on #552
What's the performance of gemmlowp vs Eigen. I have done some experiment with Tensorflow demo on Android but sadly found gemmlowp is twice worce than Eigen. Do you have such results, looking forward to response here.@bhack@Randl

[2017-02-10 10:07] Randl commented on #447
@yuchen112358 Have you succeeded? If not what are the problems?

[2017-02-10 10:09] #406 closed

[2017-02-10 10:11] bhack commented on #552
@wonderzy Have you checked https://github.com/tensorflow/tensorflow/issues/2807?

[2017-02-10 10:13] Randl commented on #445
@edgarriba @nyanp What's your opinion?

[2017-02-10 10:15] Randl commented on #335
@Thanh-Binh do you still experience the issue?

[2017-02-10 10:16] Randl commented on #334
@ameld Can you retry with latest version and confirm the issue is still present?

[2017-02-10 10:19] bhack commented on #457
What I see is https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#Rt-using

[2017-02-10 10:21] bhack commented on #457
Ops.. the right ancohor is https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#t43-prefer-using-over-typedef-for-defining-aliases

[2017-02-10 10:41] Randl commented on #523
@liwangqian If you believe there are places you can introduce speedup, please send us PR with speed measurements

[2017-02-10 10:44] edgarriba commented on #457
@Randl add it to tasks list
https://github.com/tiny-dnn/tiny-dnn/projects/2

[2017-02-10 10:46] Randl commented on #457
@edgarriba It's in https://github.com/tiny-dnn/tiny-dnn/projects/1#card-1205550

[2017-02-10 10:48] #413 closed

[2017-02-10 10:49] wonderzy commented on #552
@bhack Yes,  I got my result on Android not on PC. Some people also encounter this problem in the discussion.
But gemmlowp is optimized on ARM CPU, so the result I got is so confused.

[2017-02-10 10:51] bhack commented on #552
I don't know if @wangyida benchmarked performance in tiny-dnn.

[2017-02-10 11:32] Randl opened #560 "Rewrite deconvolution (transposed convolution) as inherited from convolution"
As for now, deconvolution is broken:
https://github.com/tiny-dnn/tiny-dnn/issues/278
https://github.com/tiny-dnn/tiny-dnn/issues/199

Also, as you probably know, classical way is to use transposed convolution instead of real deconvolution. It can be implemented as convolution with minor changes:
https://github.com/soumith/cudnn.torch/blob/master/SpatialFullConvolution.lua
https://groups.google.com

[2017-02-10 12:04] Randl opened #561 "Testing framework and Caffe converter on real-life example"
Testing on real-life network is pretty important to be sure the whole framework is working properly.

I suppose to use some model from Caffe Model zoo, for example [BVLC AlexNet Model](https://github.com/BVLC/caffe/tree/master/models/bvlc_alexnet) or anything elso from [Model Zoo](https://github.com/BVLC/caffe/wiki/Model-Zoo).

We can use [caching](https://docs.travis-ci.com/user/caching/) on Trav

[2017-02-10 12:16] beru commented on #445
With Visual Studio 2015, compile option `/utf-8` can be used.
https://msdn.microsoft.com/ja-jp/library/mt708821.aspx
https://blogs.msdn.microsoft.com/vcblog/2016/02/22/new-options-for-managing-character-sets-in-the-microsoft-cc-compiler/

@yumetodo What about specifying this option in `CMakeList.txt` ?
I still haven't tested by myself though. :expressionless:

[2017-02-10 12:19] beru commented on #457
I didn't know much about this `using` feature.
@bhack Thank you for the link.

[2017-02-10 12:44] yumetodo commented on #445
@beru ``/utf-8`` option change **executable character set** so that the character set of all string literals without no-Unicode-prefix will be set to UTF-8.

This change is bigger than changing all source code character set.

Because, ``cmd.exe``, a most popular execution environment on Windows, does not support UTF-8(note: chcp is broken because of font)

I think that **source code character set,

[2017-02-10 12:48] Randl commented on #445
I believe we just need to remove all non-ASCII characters from source code. No reason for them to be there.

[2017-02-10 13:03] Randl commented on #285
@patrikhuber @bhack @nyanp Is this still relevant?

[2017-02-10 13:05] Randl commented on #64
@gary30404 Check the latest version if you're still interested

[2017-02-10 13:05] #64 closed

[2017-02-10 13:06] Randl commented on #117
@rcmalli ping

[2017-02-10 13:07] Randl commented on #119
@skprasadu Are you satisfied with answer? If you manage to implement this, PR would be appreciated.

[2017-02-10 13:09] Randl commented on #213
@H4kor This is general ML question and isn't connected to tiny-dnn itself. I suppose you to try other places to ask.

If you have any tinydnn-specific issues, feel free to open issue.

[2017-02-10 13:09] #213 closed

[2017-02-10 13:11] Randl commented on #222
@WoooHaa no, as for now we aren't measuring performance and have no solid comparison with other libs.

See following issues:
https://github.com/tiny-dnn/tiny-dnn/issues/75
https://github.com/tiny-dnn/tiny-dnn/issues/548

[2017-02-10 13:11] #222 closed

[2017-02-10 13:17] sshkhrnwbie commented on #532
Hi @edgarriba

I am new to tiny-dnn and would like to contribute. I believe this should be simple enough for a beginner.

How would you prefer this be done: a single file in a separate regression directory in the main examples directory like torch or some other way?

[2017-02-10 13:19] patrikhuber commented on #285
Well, I think I would initialise the mt19937 with a `seed_seq` to give it the entropy it requires, but as mentioned before I really don't know whether the quality of random numbers matters for deep learning training.

[2017-02-10 13:20] Randl commented on #317
@pansk @edgarriba Do you have something to say?

[2017-02-10 13:24] Randl commented on #532
@sshkhrnwbie Look at how other examples are organized:
https://github.com/tiny-dnn/tiny-dnn/tree/master/examples/mnist

I suppose you create separate folder with code and readme file.

[2017-02-10 13:27] Randl commented on #285
@patrikhuber Could you send PR if you think that it worth the effort?

[2017-02-10 13:35] beru commented on #558
Some user may try cross-compilation so platform detection is not a good idea.

[2017-02-10 13:42] beru commented on #559
These are related.
https://github.com/tiny-dnn/tiny-dnn/issues/335
https://github.com/tiny-dnn/tiny-dnn/pull/339

I agree `USE_SSE` and `USE_AVX` should be `OFF` in `CMakeLists.txt` .

[2017-02-10 13:44] beru commented on #559
And even if `USE_AVX` is `ON`, avx backend shouldn't be default backend.

[2017-02-10 13:47] beru commented on #558
Runtime cpu feature detection code isn't implemented right now. That is actually a bug of this library.

[2017-02-10 13:54] beru commented on #445
That is most straightforward solution. But what if third-party library contains non-ASCII characters at copyright section? Some programmers might put comments or their names in Non-English letters.

It is probablly OK to remove all non-ASCII characters from files within `tiny_dnn` folder but we shouldn't edit files inside `third_party` folder, so maybe we won't be able to eliminate a possibility o

[2017-02-10 14:10] bhack commented on #558
Openblas adopted also a [dynamic driver solution](https://github.com/bitfusionio/OpenBLAS/blob/master/driver/others/dynamic.c) but I don't know if we like something like this.

[2017-02-10 14:11] beru commented on #445
@yumetodo Then, how about `/source-charset:utf-8` option?

Quote from https://msdn.microsoft.com/ja-jp/library/mt708821.aspx

[2017-02-10 14:31] beru commented on #386
mnist dataset is included in the repository, so if `train.cpp` will be updated to follow original filenames, they should also be renamed.

[2017-02-10 14:40] beru opened #562 "Dataset shuffling feature"
It looks like shuffling processing order of dataset is common but this feature is missing in this library.

[2017-02-10 14:43] Thanh-Binh commented on #335
I will try today again ...

[2017-02-10 14:46] beru commented on #562
Right now, batch samples are copied in `network::train_onebatch` method.
Ideally, list of indexes should be used and huge amount of memory copy shouldn't be used.

[2017-02-10 14:50] beru opened #563 "Online Data Augmentation feature"
By having Online Data Augmentation feature, the library can improve its training feature while suppressing  memory consumpton.

[2017-02-10 15:16] Randl commented on #562
Using [`std::shuffle`](http://www.cplusplus.com/reference/algorithm/shuffle/) with same seed seems to be simplest solution

[2017-02-10 16:20] beru commented on #553
Splitting serialize functions into save/load is somewhat miserable but unfortunately this seems to be the only way to banish serial_size_t from tiny_dnn namespace.

I stil haven't finshed externalizing all serialization functions that use cereal library.
After that is done, we can think about using another serialization library such as
https://github.com/google/flatbuffers

[2017-02-10 16:28] Thanh-Binh commented on #335
in my Ubuntu with avx + tbb: 12.40sec

[2017-02-10 16:32] Randl commented on #335
@Thanh-Binh This is nice speed up, isn't it? Can we close the issue?

[2017-02-10 16:52] beru commented on #553
In `network::load` and `network::save` methods, `cereal::BinaryInputArchive` and `cereal::BinaryOutputArchive` classes are used.

Not sure using `cereal::PortableBinaryOutputArchive` and `cereal::PortableBinaryInputArchive` is generally favorable.

Changing binary archive type will break backward compatibility of archived files.
So, If this library will break backward compatibility, notification t

[2017-02-10 17:09] beru commented on #553
It's somewhat difficult how to make changes with serialization.

Current implementation have several problems such as
- Slow to compile (It will be mitigated after decouple activation function template parameter from layer classes)
- Unnatural `serial_size_t` needs to be used for 32bit/64bit portability
- Explicit versioning isn't used so hard to keep backward compatibility
- Hard to change serial

[2017-02-10 18:03] bhack commented on #553
Flatbuffers was proposed also for caffe some times ago but also tensorflow was go ahead with protobuf also if they have in house flatbuffers control.

[2017-02-10 20:02] Thanh-Binh commented on #335
if power supply is plug-in, it reaches 10sec/epoch.
Super good! Best thanks for your effort.

I try to use NNPACK. Do you have any hint for testing it?

[2017-02-11 00:16] yumetodo commented on #445
@beru

When some contributor add non-ascii charactor as string/character literal with the encoding except UTF-8(ex. for error-message localization), the behavior is different from the contributor expected.

In this project, **the possibility might be rare**. However, there is **no guarantee** that non-ascii charactor will not be used in string/character literal.

If you are trying to apply ``/sour

[2017-02-11 00:41] pliptor opened #566 "Question: MNIST example test result on Wiki"
I'm sorry I'm not all familiar yet with everything but is it correct that the test result for the
classification for number 4 in the MNIST example on the Wiki page does not add up
to 100%? Please let me know if this is the correct behavior. There might be some normalization issue going on.

4,78.1403
7,33.5718
8,14.0017

I tried to replicate the test on my machine with the current head and I also

[2017-02-11 01:15] pliptor commented on #566
Answering partially to my question, I think it has to do with not using a softmax function at the final layer. I'm now simulating the example code with tanh replanced by softmax to see the check it. In theory, I think it should give more meaningful outputs.

[2017-02-11 01:45] beru commented on #445
@yumetodo I see. Thank you for the explanation.

I see, so we can't suppose all header files are encoded in utf-8, then again, it seems to me `warning C4819` will appear sometimes. The best option is probablly dropping support for Windows and Visual Studio so that we don't need to worry about this matter anymore.

[2017-02-11 01:56] beru commented on #335
@Thanh-Binh I read this page to intall NNPACK. https://github.com/Maratyszcza/NNPACK#building
But NNPACK doesn't support backward path of fully-connected layer so it can't be used for training.
https://github.com/tiny-dnn/tiny-dnn/blob/33052fe26030a841fa729a8fa60744d0f46abee2/tiny_dnn/core/kernels/fully_connected_grad_op.h#L92

I've thought the library should fall back to use internal engine.

[2017-02-11 02:19] beru commented on #562
@Randl To use `std::shuffle` against input samples, we need to change type of inputs from
`std::vector<tensor_t>` to `std::vector<tensor_t*>` to avoid instance copy, alloc, dealloc.

In `network::train` method, `network::fit` method is called and in there, epoch and batch enumeration loops appear.

https://github.com/tiny-dnn/tiny-dnn/blob/33052fe26030a841fa729a8fa60744d0f46abee2/tiny_dnn/network.

[2017-02-11 03:05] pliptor commented on #566
I must be doing something wrong in trying to replace the tanh by softmax. The results look more off. If anyone has any insights please let me know.

4,112.158
7,50.1448
2,50.1084

[2017-02-11 08:21] pliptor commented on #335
How do we run this sec/epoch benchmark? My platform doesn't have AVX but I just tried TBB=ON and the training looks considerably faster. The default training for MNIST takes more than 1.5 hours here maybe close to two.

[2017-02-11 08:46] edgarriba commented on #562
Ideally the shuffling should be done before loading the data for each batch. However, there are some times that's not possible since you have all loaded in memory. In that case I think the best (and common) standard solution is having a proper DatasetLoader which takes care about batch generation, preprocessing and possibly parallelizing with queues. Please check [Pytorch](https://github.com/pytor

[2017-02-11 08:49] edgarriba commented on #559
Why not?

[2017-02-11 08:56] Thanh-Binh commented on #335
@pliptor you run training and read this message displayed in console.

@beru if so, nnpack is only partially supported now, we use avx und tbb instead

[2017-02-11 09:05] bhack commented on #335
@Thanh-Binh I think that you can still experiment at single layer to set nnpack engine so you can avoid to use this engine for fullconnected.

[2017-02-11 09:08] pliptor commented on #335
@Thanh-Binh Thanks. I'll check tomorrow.

[2017-02-11 09:10] Thanh-Binh commented on #335
Ok

[2017-02-11 11:13] Randl commented on #566
Usually the output of network is interpreted as probability, but it isn't exactly. The closer output is to 1, the more probable the output is, but the output isn't the probability itself, that's why it don't have to add up to 1.

As for softmax, this seems really strange, because output of softmax is always smaller than 1.

[2017-02-11 13:40] beru commented on #559
Because of high maintenance cost. In terms of readability, tiny_dnn backend beats others.

[2017-02-11 13:59] edgarriba commented on #559
But I don't see the point of having USE_AVX to ON and then using internal. Maybe I misunderstood the question

[2017-02-11 14:02] edgarriba commented on #566
You can interpret them with relative probabilities

[2017-02-11 14:17] beru commented on #562
That modular design seems very appropriate. But it's very far.

I'd like to know how new Tensor class can prevent copying samples data when to ready a batch. It seems to me using a pointer (naked or smart) for each sample is required to avoid instance copy.

[2017-02-11 14:23] beru commented on #559
That question is understandable.

I personally think USE_AVX flag should not exist in CMakeLists.txt.
On x86/64 platforms, cpuid instruction can be used to check supported instructions on running machine.

[2017-02-11 14:25] Randl commented on #559
What about cross compilation?

[2017-02-11 14:33] beru commented on #559
There are some preprocessor flags to check target platform.
http://stackoverflow.com/questions/152016/detecting-cpu-architecture-compile-time

[2017-02-11 15:21] edgarriba commented on #559
ok, so your proposal is to use avx intrinsics if and only if internal backend is selected and avx is available in system?

[2017-02-11 15:37] beru commented on #559
@edgarriba Not internal backend, avx backend.

[2017-02-11 15:42] beru commented on #559
SSE and AVX intrinsincs are also used in `util/product.h`. They should also be switched during the execution, ideally.

[2017-02-11 17:53] beru opened #567 "Checkpoint capability"
http://machinelearningmastery.com/check-point-deep-learning-models-keras/

Lazy people like me don't want to write routines to dump weights inside `on_epoch_enumerate` callback. Also, compression and saving to storage can be done in worker thread.

At least please provide sample code.

[2017-02-11 18:09] pliptor commented on #566
@Randl Let me dig a bit to see if I'm using softmax incorrectly.
@edgarriba  @Randl  Would it make more sense to present normalized outputs MNIST results? There might be something else going on because the way it is phrased on Wiki right now is mathematically questionable. "predicted this image as "4", at confidence level of 78.1403%": percentage infers probability.
If hypothetically one of the nu

[2017-02-11 18:24] beru commented on #548
I fear asking it would raise the bar for creating a pull request. I hope people may voluntarily post benchmark results on comments or Wiki.

[2017-02-11 19:25] pliptor commented on #566
I think I have an idea of what's going on so I'll write it here for documentation. There is a per output (not per vector) normalization attempt in the MNIST example test code (a scale function right at the top of the code). That is supposed to ensure each output is bounded between 0 and 100. the test code assumes, however, that the activation type is tan_h. If the user changes the training code to

[2017-02-11 19:50] Randl commented on #548
Yes it might, but if it will be part of test suite, then it will mean only run tests twice and copy-paste.

[2017-02-11 19:54] pliptor commented on #335
@Thanh-Binh Check completed. I'm attaching a sample so others can also see how it looks like. I think I understand what epoch means now. It's the time taken for each of the 30 batches to be trained. I get about 100s but his is much faster than what I had before with TBB=OFF. I guess AVX=ON makes then a huge difference. This AMD Quad-Core A6-3650 doesn't support AVX, unfortunately.

[mnist_train.tx

[2017-02-11 20:40] edgarriba commented on #562
Didn't thought about that yet. Maybe through view?

[2017-02-11 20:52] pliptor commented on #563
What's the best paper on this topic to read?

[2017-02-12 03:36] beru commented on #548
Running tests twice might be a bit cumbersome, but in that way we can confirm the difference at ease.

Do commiters need to run `cmake` command with `-DBUILD_TESTS=ON` option, and run `tiny_dnn_test` and collect mini-bench result? Sounds tedious but it will make PR a lot cleaner.

If those procedures will be mandatory before sending pull requests, then it should be written in this document.
https:

[2017-02-12 06:07] Randl commented on #548
@beru I hope that contributors run tests anyway :)

We can make in not mandatory but strongly recommended, and warn that without test output PR might take more time to merge or not be merged at all.

[2017-02-12 06:40] beru commented on #548
@Randl If we strongly recommend commiters to run tests and benchmarks, that attitude should be applied to maintainers who check pull requests. So I hope posting benchmarks will be voluntary act.

Actually, I'm kind of person who skips running tests locally before creating a pull request, and ended up fixing problems later after travis-ci and AppVeyor jobs failed. I admit disciplines are important

[2017-02-12 06:44] beru commented on #548
Many of the pull requests may not related to performance issues at all. So if that is obvious, I think it's OK to skip running benchmarks. And with some pull requests, it may be difficult to sustain performance with adding features. But we can always fix problems later.

[2017-02-12 07:01] Randl commented on #548
@beru I have to run tests locally to make sure it works :) And you yourself run performance tests pretty often.

As for PRs that don't need performance check - surely there are some - typos, code addition, bug fixes, etc. That's what I tried to say by "strongly recommended" - if we see that there is no need in performance test it won't influence PR, but if it's needed we won't merge untill someone

[2017-02-12 08:20] beru commented on #548
@Randl I see, so we can divide the tasks.

[2017-02-12 08:28] beru opened #570 "Bad accuracy with AVX routine, confirmed with enhanced example MNIST (change last activation function from tanh to softmax)"
The issue is revealed in #569

[2017-02-12 11:48] dimanys111 opened #571 "What does the second option: "make_mlp <relu> ({2, 8, 2});" number 8?"
[code]
And why "batch size" = 4?

The source code in the loop "i + = batch_sitse".
So step cycle = 4 and  inputs.size()=4?
[code]

[2017-02-12 16:01] pliptor commented on #571
The section below can be found at docs/how_tos/How-Tos.md

If your network is simple mlp(multi-layer perceptron), you can also use ```make_mlp``` function.
[code]
It is equivalent to:
[code]

[2017-02-12 16:33] edgarriba commented on #548
I vote to setup a script to run tests twice and check the difference

[2017-02-12 16:37] edgarriba opened #572 "Add USE_GDC as option in cmake"
Finish related PR https://github.com/tiny-dnn/tiny-dnn/pull/556/files

[2017-02-12 16:57] Randl commented on #548
Script is kinda hard, at least for me. You need to specify which revisions to run. Doesn't seem easier than run tests twice.

[2017-02-12 19:59] pliptor commented on #570
Might 10-5 be a too generous threshold for tolerance in test/test_convolutional_layer.h to verify accuracy of AVX? I can't help much here since I don't have an AVX handy.

[2017-02-12 20:06] bhack commented on #570
@pliptor You can emulate with https://software.intel.com/en-us/articles/intel-software-development-emulator

[2017-02-12 20:50] pliptor commented on #570
That may be an approach. But I was wondering if there was a reason behind a 10-5 threshold.

[2017-02-12 21:58] #571 closed

[2017-02-12 22:17] pliptor commented on #570
@beru I closed #569 . #574 has the freshest result with the HEAD.

[2017-02-13 07:11] dimanys111 opened #575 "What does the second argument in: "auto mynet = make_mlp<tan_h>({ 32 * 32, 300, 10 });" (number 300)? The number of layers or neurons?"
What does the second argument in: "auto mynet = make_mlp<tan_h>({ 32 * 32, 300, 10 });" (number
 300)?
The number of layers or neurons?

[2017-02-13 07:21] Randl commented on #575
Please, don't spam with issues ( https://github.com/tiny-dnn/tiny-dnn/issues/571 ) . If you have follow up questions, you can ask them there even if the issue is closed.
Answering you question, yes, it is number of neurons in a middle layer. Check https://github.com/tiny-dnn/tiny-dnn/blob/master/docs/how_tos/How-Tos.md and other docs for more information

[2017-02-13 07:30] dimanys111 commented on #575
auto mynet = make_mlp<tan_h>({ 32 * 32, 100, 100, 10 });
It is two layers of neurons at 100?

[2017-02-13 07:32] Randl commented on #575
Yes, you can check the implementation https://github.com/tiny-dnn/tiny-dnn/blob/master/tiny_dnn/io/layer_factory.h

[2017-02-13 07:42] pliptor commented on #38
Is example/main.cpp an older piece of code that has been split into subparts in the mnist folder? I see a built.bat meant for it.

[2017-02-13 07:43] dimanys111 commented on #575
And from each input neuron synapses are to each neuron of the second layer?
32 * 32 * 100 = 102400 synapses with the coefficient? (In my example)

[2017-02-13 07:44] Randl commented on #575
Yes

[2017-02-13 07:45] Randl commented on #38
@virusme Are you still interested in tiny-dnn? We had many changes since you opened the issue, try it :)

[2017-02-13 07:48] bhack commented on #539
Anybody seen https://zigasajovic.github.io/dCpp/?

[2017-02-13 07:53] dimanys111 commented on #575
mynet.train<mse>(optimizer, train_images, train_labels, n_minibatch, n_train_epochs, on_enumerate_minibatch, on_enumerate_epoch);
And what role is played by "n_minibach"? It should be chosen for a better training?
I watched the source code, but has not yet figured out.

[2017-02-13 07:56] Randl commented on #575
It is size of minibatch, as you can see from the name. See, for example https://www.quora.com/What-is-the-difference-between-batch-mode-and-mini-batch-in-machine-learning
It is number of sample proceeded simultaneously.

[2017-02-13 08:08] dimanys111 commented on #575
And treated "n_minibah" elements in a separate thread?

[2017-02-13 08:49] pliptor commented on #38
For cross checking. example/main.cpp compiled on ubuntu 16.04  with

 g++ -std=c++11 -Wall -Werror -Wextra -pedantic -I ../ -O3 main.cpp -o main -lpthread

The output looks fine. 99.02% accuracy. Confusion matrix seems typical.

[examples_main.txt](https://github.com/tiny-dnn/tiny-dnn/files/770466/examples_main.txt)

[2017-02-13 09:45] pliptor commented on #538
@Randl Could you point me out where to read on the relation between dropout and batch sizes? Thanks!

[2017-02-13 10:32] Randl commented on #538
@pliptor As for this bug, I suppose the proble is in batch and not in dropout, just with droupout it causes crash and with different settings it causes wrong results.

Generally I believe dropout and batch size are not very related.

[2017-02-13 10:40] pliptor commented on #538
Thank you. It seems both issues are very important to be solved and I wanted to learn more about them. Let me know if there's anything I could help with.

[2017-02-13 10:42] Randl commented on #538
We need to understand what causes the bug and to localize it first. If you have any insights, feel free to share them.

[2017-02-13 10:44] pliptor commented on #538
I tried to look at the dropout code earlier but no clue so far. Will keep trying.

[2017-02-13 15:35] bhack commented on #538
@Randl I think it is safer to have a test on the batch size dimension

[2017-02-13 16:55] pliptor commented on #538
The learning rate of the optimizer gets multiplied by sqrt(batch dimension) in the mnist code. For a batch size of 64 that's 8. It might be too fast. Let me see.

[2017-02-13 17:49] fastalgo commented on #538
@pliptor Thanks so much!

[2017-02-13 17:52] pliptor commented on #538
@fastalgo  My machine is slow so I can't simulate fast I'm getting good results with batch size of 64 by limiting the multiplying factor with std::max(float_t(4),...). The 4 came from the fact that a size of 16 was working fine for me. But this is a hack. There might be better things to do here.

[2017-02-13 17:53] fastalgo opened #576 "Compare with Intel Caffe"
Is there any result for comparing tiny-dnn with Intel optimized version Caffe on Xeon CPUs?

[2017-02-13 17:54] fastalgo commented on #538
@pliptor I got it, have a nice day :-)

[2017-02-13 17:54] Randl commented on #538
@pliptor Well those issues might be not connected after all.

As for limiting learning rate, I don't see something much better than that.

[2017-02-13 17:55] pliptor commented on #538
It's a hack but I can submit a patch for mnist if you want.

[2017-02-13 17:57] Randl commented on #538
If you can open PR, we'll discuss it there.

[2017-02-13 17:57] Randl commented on #576
I believe there isn't, but I can do one at the moment we have https://arxiv.org/abs/1702.03044 fixed.

[2017-02-13 17:58] Randl commented on #576
https://github.com/tiny-dnn/tiny-dnn/issues/75 related

[2017-02-13 17:59] Randl commented on #538
@pliptor Probably, just add it to https://github.com/tiny-dnn/tiny-dnn/pull/574

[2017-02-13 18:03] pliptor commented on #538
Good idea.

[2017-02-13 18:07] fastalgo commented on #576
Thanks!

[2017-02-14 06:59] weisunding commented on #210
@nyanp Tiny-DNN is awsome with small footprint, any plan to implement LSTM/RNN, or any plan to integrate the https://github.com/tmbdev/clstm (small C++ LSTM) implement?

[2017-02-14 07:22] Randl commented on #210
@weisunding It might be implemented at GSoC

[2017-02-14 07:24] Randl commented on #97
@Pax1601 have you succeeded in using tiny-dnn? Are you still interested in it?

[2017-02-14 07:25] Randl commented on #51
@lji72 Do you still have thiss issue?

[2017-02-14 07:26] Randl commented on #35
@anubhavrohatgi How is your experience with tiny-dnn? Have you achieved desired result? Do you still have any issues?

[2017-02-14 07:27] Randl commented on #124
@GminChaconne You can try the last version of tiny-dnn, which has a lot of improvements. If the issue still present, please report it.

[2017-02-14 07:27] weisunding commented on #210
@Randl Thanks, I will stay tune to the LSTM/RNN implement.
I am working on stocks/futures deep q-learning, converting the time series into pictures is a little bit awkward.

[2017-02-14 16:16] #351 closed

[2017-02-14 16:16] Randl commented on #352
@liuzhuang13 can we close this?

[2017-02-14 16:21] Randl commented on #122
@18569035534 Check the now existing example of CIFAR-10 if you're still interested. Feel free to ask questions, if you have.

[2017-02-14 16:21] #122 closed

[2017-02-14 16:22] Randl commented on #33
@GD06 Are you still interested in tiny-dnn? Weights are updated.

[2017-02-14 16:22] Randl commented on #30
@mmaxxi Do you still have any problems?

[2017-02-14 16:29] edgarriba commented on #576
I close this since question solved

[2017-02-14 16:29] #576 closed

[2017-02-14 16:29] liuzhuang13 commented on #352
yes of course ! thanks
On Wed, Feb 15, 2017 at 12:16 AM Evgeniy Zheltonozhskiy <
notifications@github.com> wrote:

--
Zhuang Liu
Institute for Interdisciplinary Information Sciences
Tsinghua University
Email: liuzhuangthu@gmail.com

[2017-02-14 16:30] Randl commented on #203
@pebz can you confirm latest version works for you?

[2017-02-14 16:32] #352 closed

[2017-02-14 17:43] Randl opened #578 "Misused comma operator in serialization test"
In https://github.com/tiny-dnn/tiny-dnn/blob/master/test/test_serialization.h#L408
[code]
intends to connect both f2 and f3 to s1 and c4, but it actually connects only f3 (this is how comma operator works).

Solution proposed by @edgarriba is to use a dynamic array (probably initialization list would work nice here: `s1 << {f2, f3} << c4;`) instead.

[2017-02-15 08:12] Randl commented on #120
No answer for a week, closing

[2017-02-15 08:12] #120 closed

[2017-02-15 08:13] Randl commented on #62
No answer for a week, closing

[2017-02-15 08:13] #62 closed

[2017-02-15 08:13] Randl commented on #34
No answer for a week, closing

[2017-02-15 08:13] #34 closed

[2017-02-15 08:14] Randl commented on #267
No answer for a week, closing

[2017-02-15 08:14] #267 closed

[2017-02-15 08:14] Randl commented on #512
No answer for a week, closing

[2017-02-15 08:14] #512 closed

[2017-02-15 08:15] Randl commented on #409
No answer for a week, closing

[2017-02-15 08:15] #409 closed

[2017-02-15 14:41] hellbago opened #579 "Accessing intermediate feature maps"
Is that possible in tiny-dnn to access intermediate feature maps of a prebuilt net?

[2017-02-16 08:52] Randl commented on #159
Fixed in https://github.com/tiny-dnn/tiny-dnn/pull/232

[2017-02-16 08:52] #159 closed

[2017-02-16 08:53] Randl commented on #446
@moazzemi Any updates?

[2017-02-16 08:53] Randl commented on #155
No answer for a week, closing

[2017-02-16 08:53] #155 closed

[2017-02-16 08:54] Randl commented on #460
No answer for a week, closing

[2017-02-16 08:54] #460 closed

[2017-02-16 08:54] Randl commented on #461
No answer for a week, closing

[2017-02-16 08:54] #461 closed

[2017-02-16 08:54] Randl commented on #394
No answer for a week, closing

[2017-02-16 08:54] #394 closed

[2017-02-16 08:55] Randl commented on #237
No answer for a week, closing

[2017-02-16 08:55] #237 closed

[2017-02-16 08:55] Randl commented on #18
No answer for a week, closing

[2017-02-16 08:55] #18 closed

[2017-02-16 08:55] Randl commented on #12
No answer for a week, closing

[2017-02-16 08:55] #12 closed

[2017-02-17 17:33] fastalgo opened #584 "more larger examples?"
Is there an example for ImageNet datasets? For example, googlenet?

I mean, the mnist and cifar10 examples are very useful. Is there any bigger example?

[2017-02-17 18:20] edgarriba commented on #584
@fastalgo for testing you can just import your model trained with Caffe. As for training, we are still working in a GPU version of the library.

Also as an alternative you could use [Alexnet](https://github.com/tiny-dnn/tiny-dnn/blob/master/tiny_dnn/models/alexnet.h) (or create/contribute with further models) and import the weights.

[2017-02-17 18:26] fastalgo commented on #584
Thanks, I'm a new learner and only know the basic stuffs.
If I use Alexnet, how can I read ImageNet dataset?
So I feel a complete C++ code will be very helpful for me.

[2017-02-17 20:17] bhack commented on #584
Related to https://github.com/tiny-dnn/tiny-dnn/issues/555

[2017-02-18 08:44] Pax1601 commented on #97
@Randl we did not manage to have tiny-cnn run on our platform and with the required structure, so we had to use a completely different idea :)

[2017-02-18 08:47] Randl commented on #97
@Pax1601 What were the problems? Are you still interested in tiny-dnn?

[2017-02-18 08:57] Randl commented on #119
No answer for more than a week. Closing

[2017-02-18 08:57] #119 closed

[2017-02-18 08:58] Randl commented on #117
No answer for more than a week. Closing

[2017-02-18 08:58] #117 closed

[2017-02-18 08:58] Randl commented on #334
No answer for more than a week. Closing

[2017-02-18 08:58] #334 closed

[2017-02-18 08:58] Randl commented on #447
No answer for more than a week. Closing

[2017-02-18 08:58] #447 closed

[2017-02-18 21:36] festlv commented on #440
I believe this issue is not present in the latest version of tiny-dnn anymore.

This was important to be able to use tiny-dnn in precompiled header in QtCreator when using "-Werror -Wall -Wextra -Wpedantic" compiler flags to enable all warnings.

[2017-02-18 21:36] #440 closed

[2017-02-18 21:39] Randl commented on #440
Now that `-Werror` is not recommended, mainly since third party line might still produce warnings

[2017-02-18 22:53] festlv opened #586 "Caffe converter silently fails on (some) non-supported layer types"
I have been trying out caffe converter example on a custom caffe model.

The prediction vector of the imported model was all zeroes. During debugging of this issue I found out that tiny-dnn network was correctly constructed, but loading weights had silently stopped after encountering BatchNorm layer- it can't be mapped to tiny-dnn layer type for weight loading.

I'd suggest at least changing this

[2017-02-18 23:01] festlv commented on #227
I can confirm that this issue is fixed (my model also used non-square input layer).

[2017-02-18 23:45] edgarriba commented on #586
@festlv Thanks for reporting this bug! please submit a PR with the pach

[2017-02-18 23:56] bhack commented on #586
And also covering missing layer in tiny if you need :)

[2017-02-18 23:57] #227 closed

[2017-02-19 09:15] festlv commented on #586
Submitted a PR.

I do need this missing layer, but I don't know enough about internals of tiny-dnn, caffe and even how exactly batchnorm works, so I won't be able to add it.

[2017-02-19 16:53] pliptor commented on #285
As far as I understand, MT19937ar has two types of initializing functions.
(1). Takes a single long.
(2). Takes an array of long.

http://www.math.sci.hiroshima-u.ac.jp/~m-mat/MT/MT2002/CODES/mt19937ar.c

You'll see that (1) feeds into an auxiliary PRNG to fill MT's entire internal state. Having both interfaces available to the user is good but I think it's unlikely convergence rate of a CNN is go

[2017-02-19 20:08] pliptor opened #588 "Question: Does anyone have a cifar10 weight pre-computed for sharing?"
My computer seems way too slow to train it with the default setup.

Thank you!

[2017-02-19 20:30] pliptor commented on #33
This probably needs a cleanup. I've been looking at this example carefully as you know. The wiki page has two MNIST examples with different models (one that is closer to the original LeNet-5 with sparsity table and one that does not use the table).

https://github.com/tiny-dnn/tiny-dnn/wiki

The version in the HEAD is the former. There is a pre-computed weight available in text format for the latt

[2017-02-19 20:34] Randl commented on #588
I can run one for you. Do you want default parameters?

[2017-02-19 20:41] pliptor commented on #51
@Randl lji72 last comment above indicates he was able to use TBB. I think this ticket can be closed.

[2017-02-19 20:45] #51 closed

[2017-02-19 20:51] pliptor commented on #588
@Randl Sweet. Yes, it would be useful for the newcomers if the run into the same problem. How long does it take to train in your box?

[2017-02-19 20:54] #38 closed

[2017-02-19 20:56] Randl commented on #588
@pliptor I've put it right now with all defaults and `time`. One epoch takes ~140 secs, with TBB and AVX (note it's 4 socket server).

[2017-02-19 21:01] pliptor commented on #588
That's roughly that it takes for me to train one MNIST epoch :( Thanks again.

[2017-02-20 02:51] fastalgo opened #589 "Imagenet parse"
Can you give a C++ code for reading Imagenet dataset? just like parse_cifar10

[2017-02-20 06:04] Randl commented on #588
Here are the weights: [cifar-weights.zip](https://github.com/tiny-dnn/tiny-dnn/files/786674/cifar-weights.zip). I'll send PR adding them and couple of other changes later today

[2017-02-20 06:14] Randl commented on #589
ImageNet is stored in JPEG, so it shouldn't be hard to parse it. do you have any particular problems?

[2017-02-20 06:25] fastalgo commented on #589
Thanks!

[2017-02-20 06:42] pliptor commented on #588
Thank you! Now I can fully test the test code too.

[2017-02-20 08:59] #588 closed

[2017-02-20 10:55] wonderzy commented on #552
Hi, @bhack I know tiny-dnn use nnpack. I wonder if there is any experiment on speed of nnpack vs eigen on arm.

[2017-02-20 10:56] bhack commented on #552
We don't have an eigen backend so you can try to ping https://github.com/Maratyszcza/NNPACK/issues/30

[2017-02-21 10:29] dimanys111 commented on #575
Why in a class of hyperbolic tangent derivative = float_t (1) - sqr (y)?
In various sources it is
[http://tehtab.ru/netcat_files/Image/GuideMathematics/DifferentialsAndIntegrals/DifferentialsTable/Differentials_clip_image027.gif](url)

`class tan_h : public function {
 public:
  using function::df;

  inline float_t f(const vec_t &v, size_t i) const override {
    return std::tanh(v[i]);
  }

  in

[2017-02-21 10:37] benjisympa opened #592 "Classification CNN problem"
Hi,
I follow the turorial (https://media.readthedocs.org/pdf/tiny-dnn/latest/tiny-dnn.pdf) and the doc (http://tiny-dnn.readthedocs.io/en/latest/how_tos/Train-network-with-your-dataset.html) to import images with open-cv and convert it in vec_t, it works but the network classify only on the first category.
For example with 2 images :
0%   10   20   30   40   50   60   70   80   90   100%
|----|---

[2017-02-21 11:19] beru commented on #570
https://github.com/beru/tiny-cnn/commit/bf4fba1c432e43e9aef26f15832b77f1cb1aef30
This change will improve training accuracy, but when I train cifar10, accuracy drops to 1000/10000.
I think that problem is the same one reported in #511

[2017-02-21 14:55] beru commented on #575
@dimanys111 Please reformat your comment with Syntax highlighting markdown.
Enclose code with 3 backquotes.
[code]

[2017-02-21 16:55] beru commented on #570
#410 is probablly related...

[2017-02-21 17:28] pliptor commented on #570
Maybe the network death has to do with the "fragility of ReLU"  activation (link below) instead of the usage of AVX? Does the network death go away by replacing ReLU by tan_h?

http://cs231n.github.io/neural-networks-1/

[2017-02-21 20:56] #253 closed

[2017-02-21 20:57] #271 closed

[2017-02-21 22:55] beru commented on #570
Replacing ReLU by tan_h extends life expectancy of the network but the death reamins to appear at a peak of training.

[2017-02-21 23:08] pliptor commented on #570
@beru That's interesting. The MNIST net is well documented with respect to differences between the original LeNet-5 (it is almost the same). Do you know how the cifar10 network was specified in the tiny-dnn example? Do you know if there is a standard reference like LeNet-5?

[2017-02-22 00:50] beru commented on #570
The same thing happens with internal backend and `max_pooling_layer<relu>`.

@pliptor I don't know about the standard cifar10 network model.
https://www.cs.toronto.edu/~kriz/learning-features-2009-TR.pdf
http://rodrigob.github.io/are_we_there_yet/build/classification_datasets_results.html

[2017-02-22 02:26] Abello966 opened #593 "Not checking for input dimension leads to undefined behavior"
Hello! I've been trying to implement a "mixed network" with part preprocessed features part convolutional architecture. I ran into a bug today that seems to have more general effects: the input dimension is not being properly checked on training and in different cases it lead to different behaviors.
All these are from the CIFAR-10 example, I've been editing the construct_net function (and changed

[2017-02-22 02:39] pliptor commented on #570
@beru Thank you. Time to study again.

[2017-02-22 07:56] bhack commented on #593
Do you want to create a PR?

[2017-02-22 10:10] edgarriba commented on #570
@beru cifar10 is a dataset not a model

[2017-02-22 10:45] hellbago commented on #579
Any answer?

[2017-02-22 17:07] Abello966 commented on #593
@bhack as soon as I get this model to work yes!
Tried adding preprocessing to the data so that the dimension matched but still got SEGFAULT'd. Will do more tests today

[2017-02-22 19:48] festlv commented on #586
The core of this issue has been fixed in #587.
The missing BatchNorm support is in #595.

I have the following suggestions regarding caffe converter:

1) List supported layer types in documentation (https://github.com/tiny-dnn/tiny-dnn/blob/master/tiny_dnn/io/caffe/layer_factory_impl.h#L857).
2) Make the inference in general more robust (maybe a debug mode with assertions). I have been able to pro

[2017-02-22 19:48] #586 closed

[2017-02-22 20:14] Abello966 commented on #593
UPDATE: I tried with a toy graph network with 2 inputs of (2,1,1) dimension and it worked fine, raising input mismatch dimension instead of breaking

Further tests with the big graph network shows that calling in_data_size() is what is leading to the segfault. Perhaps the issue is another

[2017-02-23 01:29] Abello966 commented on #593
UPDATE: oddly enough, when I call in_data_size() inside the construct_net function it works fine, but it segfaults when I call it outside it. This seems like another issue altogether so I'll prepare a code snippet and open another, since the original issue still stands and seems more important/general

[2017-02-23 02:47] Abello966 opened #596 "Graph Network SEGFAULTs if built on different scope"
Hello again! I found an error on the Graph Network that makes it difficult to use in practice.

If I pass the construction steps to a separate function then the network will SEGFAULT whenever I try to use it. It works only if its in the same scope

In the example below I use the in_data_size() function but its the same behavior for pretty much everything

[code]

I think it's probably due to the a

[2017-02-23 07:31] Randl commented on #596
Confirmed

[2017-02-23 07:37] Randl commented on #596
You might use something like that:

[code]

[2017-02-23 08:02] Randl commented on #592
I believe your output consists of two neurons (second number).

[2017-02-23 08:02] Randl commented on #579
cc @edgarriba @nyanp @pansk

[2017-02-23 10:03] benjisympa commented on #592
Thank you for your answer, but it's just a wrong comment.
I want to have 2 classes.
I found 2 others people with this unresolved problem :
https://github.com/tiny-dnn/tiny-dnn/issues/28
http://stackoverflow.com/questions/40367232/error-with-tiny-dnn-for-pedestrian-recognition

[2017-02-23 10:46] bhack commented on #592
Yes probably it is better to complete stackoverflow reply so that we don't lost knowledge

[2017-02-23 14:47] bhack commented on #494
I close this as duplicate. Please open a new PR or ISSUE for maxout.

[2017-02-23 14:47] #494 closed

[2017-02-23 14:52] Randl commented on #570
https://ci.appveyor.com/project/tinydnn/tiny-dnn/build/master-878/job/7ca8udug96863200 May be connected?

[2017-02-23 15:13] edgarriba commented on #579
@hellbago is this what you want?
http://tiny-dnn.readthedocs.io/en/latest/how_tos/How-Tos.html#get-weight-vector

[2017-02-23 15:44] beru commented on #570
@edgarriba You're totally right about that. The CIFAR-10 is a dataset.... The CIFAR-10 is a dataset... The CIFAR-10 is a dataset...

[2017-02-23 15:49] beru commented on #570
@Randl I'm not sure how the erros in the job began to surface. It looks like the previous commit eb82a28
 was fine...

[2017-02-23 22:23] pliptor commented on #570
@Randl It's been hard for me to isolate the issues. I have no AVX but I did see a simplified tiny-dnn CIFAR-10 network example (I modified it so I can test a bit on my box without having to wait more than one day) also suddenly die from 68% around epoch 26 or so to 10%.

[2017-02-24 09:00] Randl commented on #458
@lukemurray Citing from paper:

add a 1-pixel border of zero-padding in the input data to 3x3 filters of expand modules.

Try:

[code]

[2017-02-24 15:14] Abello966 commented on #596
Tested today and it works, thank you!

[2017-02-24 15:26] Randl commented on #596
@Abello966 don't forget to free the memory with delete.

[2017-02-24 15:28] edgarriba commented on #596
shared pointers release memory for you

[2017-02-24 15:41] hellbago commented on #579
Ok that's the point @edgarriba . However my compiler says that function get_weights() doesn't exist. Is there a way to obtain the output of each layer. I see this example(https://github.com/tiny-dnn/tiny-dnn/blob/master/examples/deconv/visual.cpp)  but I got compilation errors for image<>(image was not declared in this scope) and functions output_to_image and weight_to_image() (class tiny_dnn::lay

[2017-02-24 16:58] #596 closed

[2017-02-24 17:10] edgarriba commented on #579
use `weights()`, we changed the interface. That document should be revised. Would be great that you send a small PR with that fix.

[2017-02-24 17:22] bhack commented on #579
@edgarriba I think also that this example also needs USE_IMAGE_API

[2017-02-24 18:26] beru commented on #540
My guess is `out_type` of `dropout_layer` is `{vector_type::data}` and `in_type` of `fully_connected_layer` is `{vector_type::data, vector_type::weight, vector_type::bias}` or `{vector_type::data, vector_type::weight}`, so they can't be connected.

But if it's really so, `network` class should report an error about inappropriate layer configuration.

[2017-02-24 18:59] beru commented on #540
It was my misunderstanding.

[2017-02-24 19:31] beru commented on #540
In `dropout_layer::back_propagation` method, `in_grad` is updated.

[code]

During the process, `mask_` member is accesed. A problem is found by adding below assert statement.
[code]

[2017-02-24 20:55] Abello966 commented on #578
Is there no solution to this? I'm having the same problem with a multi-input graph network. When I use the concat/add layer it ends up connecting to only one, and then depending on the order I declare the inputs in the construct_graph it makes two different nets.
Also, this seems to work differently in different contexts. With a smaller net it worked for some reason.
I tried the solution proposed

[2017-02-24 21:53] Randl commented on #75
https://github.com/tiny-dnn/tiny-dnn/issues/277 is related too

[2017-02-25 01:57] beru commented on #540
Posted a fix to the problem.
https://github.com/tiny-dnn/tiny-dnn/pull/543#issuecomment-282450220

[2017-02-25 17:25] Toby237 opened #597 "Is it possible to print the value of a "vec_t" vector?"
I am new to tiny-dnn and I am trying to convert images to "vec_t", however I don't know if I'm doing it right. I have therefore been trying to print my "vec_t" vector to see if it changes, but so far I haven't been able to find a way to do this.
Is there a way to print out a "vec_t" vector?

[2017-02-25 17:29] Randl commented on #597
`vec-t` is just a typedef for a vector of floats. You can iterate over it as over regular vector and print it's members. For example:
[code]

[2017-02-25 19:04] edgarriba commented on #578
You probably might need to dig in the code. Some hints where you could find the issue
https://github.com/tiny-dnn/tiny-dnn/blob/master/tiny_dnn/node.h#L172-193

This lines of code need a refactor to handle dynamic arrays. Alternatively, we discussed about having a Merge container. The first would will be more direct as a first step though.

[2017-02-25 19:45] Toby237 commented on #597
Thanks for the reply. I figured out I had to treat it like a "vector inside a vector" kind of way, because I declared the vector like this "std::vector<vec_t> vec". So after combining this realization with the code you supplied, I ended up with this (which worked):
`for (auto &v : vec)
	{
		for (auto x : v) std::cout << x << " ";
		std::cout << endl;
	}`

[2017-02-25 19:50] #597 closed

[2017-02-26 05:53] WenboTien opened #598 "Really disappointed, it highly depends on Microsoft c++, Cannot compile in Xcode."
When I drag this project in the Xcode, I get the error 'Use this header only with Microsoft Visual C++ compilers!'

[2017-02-26 05:54] WenboTien commented on #598
I found a lot of file have this "#include<stdint>"

[2017-02-26 06:46] Randl commented on #598
`stdint` isn't MSVC header. We are testing library under OS X and it passes all the tests. Please try building via CMake as described in readme.

[2017-02-27 00:50] Abello966 commented on #578
Found it! The difference was that in the first case both fully connected layers had the same activation, in the second, one had identity and other tan_h so the expression wasn't recognized as a tuple (node_tuple struct implies that nodes have same type). This seems to be the problem in the serialization test too :)

I'm a begginer to C++ but I think it would be somewhat simple to extend the struct

[2017-02-27 04:47] Abello966 commented on #578
Ok so this is actually a little bit beyond my skills as a C++ programmer I think.
Tried changing the functions definitions from
[code]
to
[code]
Respectively, but got some error about const in line 231. Whichever way I tried to change it it didnt work (e.g wouldnt compile, would not pass no duplicate symbols test, etc)

[2017-02-27 23:45] omimo opened #599 "Question: Contrast Normalization"
How can I apply contrast normalization? It is stated in the README but I can't find it in the code.

Thanks!

[2017-02-28 08:21] pliptor commented on #599
It might be this. I'm trying to get familiar with too.

https://github.com/tiny-dnn/tiny-dnn/blob/master/tiny_dnn/layers/lrn_layer.h

[2017-03-02 11:46] Randl commented on #459
@reunanen After merge of https://github.com/tiny-dnn/tiny-dnn/pull/557 , this one can be closed, right?

[2017-03-02 11:49] bhack commented on #459
Can we close also https://github.com/tiny-dnn/tiny-dnn/issues/146?

[2017-03-02 11:49] reunanen commented on #459
@Randl Yes, I think so. Closing.

[2017-03-02 11:49] #459 closed

[2017-03-02 11:51] bhack commented on #146
Can anyone retry on master? We have merged https://github.com/tiny-dnn/tiny-dnn/pull/557

[2017-03-02 11:52] Randl commented on #146
@classner @maybepossible @jamseams Do you still have any issues?

[2017-03-02 15:03] Randl commented on #540
@OleStauning can you please check with current master?

[2017-03-02 15:04] Randl commented on #538
@fastalgo Can you check with latest master?

[2017-03-02 15:13] hellbago commented on #579
@edgarriba  Thanks for the answer. At the moment I don' know how to send a PR. Did you mean a PR for the documentation on how to get feature maps or the example that I linked?
I would have a correlated question. I want to access to the outputs of one or more layers and put these in a std::vector for example. I see that i can do something like this: nn[i]->outputs(), where nn is a network object. B

[2017-03-02 18:55] fastalgo commented on #538
@Randl Yes, it is working, thanks!

[2017-03-02 19:06] #538 closed

[2017-03-02 20:58] Randl commented on #578
After @karandesai-96 finishes decoupling of activations, we will probably can concat `tanh` with `fully_connected` to achieve desired result.

[2017-03-02 21:58] Abello966 commented on #578
Great! I will leave it to the pros then

[2017-03-03 10:08] kristoffzoghbi opened #602 "Not supported engine: NNPACK"
I'm trying to use NNPACK as a backend for faster training time. When I run the cifar10 example with `--backend_type nnpack` I'm getting the following error:

`terminate called after throwing an instance of 'tiny_dnn::nn_error'
  what():  Not supported engine: NNPACK`

Is NNPACK supported yet? If yes, how can I implement it as backend?

[2017-03-03 11:52] edgarriba commented on #602
@kristoffzoghbi NNPACK doesn't support backward method

[2017-03-03 12:17] kristoffzoghbi commented on #602
@edgarriba so NNPACK can't be used with `convolutional_layer`? Can you please give me an example of how or where I can use NNPACK as backend?

Thank you!

[2017-03-03 12:29] edgarriba commented on #602
@kristoffzoghbi yes you can, but just for inference

[2017-03-03 13:37] bhack commented on #602
I think backward it is missing in fullconnected right? See upstream https://github.com/Maratyszcza/NNPACK/issues/1#issuecomment-279171247.

[2017-03-03 15:26] ArthurGodoy opened #603 "[ FAILED ] core.device_add_op [ FAILED ] core.ocl_conv"
After building last LibDNN e Tiny-DNN (examples and tests) from git and doing a "sudo make install" to copy libs and headers to "/usr/local/" I tried to run the tiny_dnn_test but I got this:
[code]

If I disable the LibDNN all tests pass successfully.
I am using a clean install of Ubuntu 16.10 with Beignet 1.3 OpenCL driver.

The full test log is here: http://pastebin.com/YUiZNxaa

**OS/Kernel**
[

[2017-03-04 08:55] kristoffzoghbi opened #606 "Network weights are not updating?!"
I built a convolutional neural network with a structure similar to the network used in the Cifar10 example: 3 convolutional layers, 3 max pooling layers and 2 fully connected layers in the end.

After each epoch, I'm testing the accuracy of the network `net.test(t_images, t_labels).print_detail(cout)` on 1000 test items but the accuracy remains exactly the same! I tried changing the learning rate

[2017-03-04 08:59] Randl commented on #606
Please, provide the code.

[2017-03-04 09:27] kristoffzoghbi commented on #606
@Randl My code is spread over multiple classes but I've simplified it into this one class: http://pastebin.com/gPtgaWu3

[2017-03-04 10:12] bhack commented on #602
You can set engine x layer. So on training you cannot set NNPACK for fullconnected untill upstream will implement it. Please reopen if you find another kind of problem.

[2017-03-04 10:13] #602 closed

[2017-03-04 10:25] edgarriba commented on #606
@kristoffzoghbi how do you know that your weighs are not updated?

[2017-03-04 11:33] kristoffzoghbi commented on #606
@edgarriba when I evaluate or test the network using the test dataset I always get the same accuracy or loss, even after many epochs of training. Even more, when I check the predicted value for a certain item from the dataset, it's always the same! I figured it must be that the weights aren't updating. What do you think?

[2017-03-05 18:43] AraHaan opened #607 "Travis"
I have an Repo on github that requires the filesystem TS in C++ 14. Sadly I have been trying for weeks to get g++ and clang++ to the absolute latest release version to no success. It did get to the point that I switched my focus to doozer to strugle with that as well for trying to get gcc and g++ 6.3 to install on that as well. I have been working on things like that since. If you are interested i

[2017-03-06 07:13] Randl commented on #607
I'm sorry, but this is generally not the right place to ask for these things

[2017-03-06 07:13] #607 closed

[2017-03-06 11:05] pliptor commented on #606
Maybe I'm reading your network wrong but it seems you have only one output at the last layer. Are you looking into a binary classification using Cifar10 data? One way you could try to troubleshoot is to dump the state of each layer as an image. tiny-dnn has such an interface.

[2017-03-06 11:55] kristoffzoghbi commented on #606
@pliptor I'm using a network VERY similar to the network used in Cifar10 example but I'm not using Cifar10 data! I modified the network's last output layer to have 1 output to be used with a regression task.

I've tried to look into the layers' states by dumping weights and saving layers' output as images but couldn't find anything.

[2017-03-06 12:11] Randl commented on #606
By found nothing you meant weights are unchanged? Did you try to increase learning rate?

[2017-03-06 12:16] Randl commented on #28
@RafaRuiz  are you still using interested in tiny-dnn?

[2017-03-06 12:18] kristoffzoghbi commented on #606
@Randl I meant I got the same output every time. Same image, nothing changed. I also tried increasing the learning rate from 0.01 to 0.9 (using different rates in between).

[2017-03-06 12:18] Randl commented on #313
@changingivan can you confirm with latest version?

[2017-03-06 14:27] Randl commented on #244
@theSundayProgrammer would you mind to send PR?

[2017-03-06 14:27] Randl commented on #114
@dmagee Can the issue be closed?

[2017-03-06 14:28] Randl commented on #42
@pixelglow Have you tried the proposed solution?

[2017-03-06 14:31] Randl opened #609 "Go through and imporove gradient checks"
As proposed by @bhack we need to make sure our gradient checks are correct and precious enough
http://cs231n.github.io/neural-networks-3/#gradcheck

[2017-03-06 14:34] Randl commented on #341
@Thanh-Binh Is the question still relevant? If so can you describe it more detailed?

[2017-03-06 14:35] Randl commented on #121
@kingvision @atemysemicolon Is the issue still relevant?

[2017-03-06 14:35] Randl commented on #68
@dicroce Have  you managed to solve the problem?

[2017-03-06 14:36] Randl commented on #41
@kingloo2014 Do you still have this issue?

[2017-03-06 14:45] beru commented on #313
You can use AVX instructions with Sandy Bridge microarchitecture, but AVX2 instructions are available from Haswell microarchitecture, so the option `USE_AVX2` should be `OFF` with that processor.

This library does not check available cpu features at runtime, so users may need to set some options based on their assets.

[2017-03-06 14:55] beru commented on #598
The error comes from `cereal/external/rapidjson/msinttypes/stdint.h` and `cereal/external/rapidjson/msinttypes/inttypes.h`.

They are meant to be used with MSVC compilers so use your senses when you setup your projects.

[2017-03-06 15:08] dicroce commented on #68
Nope. And I'd still like to know how to do this... I've just been
sidetracked for a while.

On Mon, Mar 6, 2017, 6:35 AM Evgeniy Zheltonozhskiy <
notifications@github.com> wrote:

[2017-03-06 15:16] Randl commented on #68
@dicroce Have you tried [SSD](https://github.com/weiliu89/caffe/tree/ssd)?

[2017-03-06 16:11] pliptor commented on #606
@kristoffzoghbi What type of data are you feeding as samples to the network? Do you normalize the input data before they are applied to the network? If they are not normalized, it could potentially get everything stuck.

[2017-03-06 20:01] pliptor commented on #68
@dicroce  I'm not entirely sure if this project has anything relevant for your objectives but it appears the author is pretty happy with the results using tiny-dnn.
[OpenIST](https://github.com/pliptor/OpenIST)

[2017-03-06 20:52] theSundayProgrammer commented on #244
The issue is closed presumably fixed.

[2017-03-06 21:14] Toby237 opened #610 "Question: Predicting on trained model."
I am trying to use the "net.predict(...)" code in the "_How To_"-docs to predict output of my "test_images" vector. However I can not get it to work by passing my whole "**vector<vec_t>> test_images**" vector which contains all my test data, but if I pass only one row of the vector, like this: **net.predict(test_images[0])**, it works.
So I was just wondering if the correct way to use "predict" is

[2017-03-06 21:55] beru commented on #610
I suppose you're using `network::predict` methods. There are several overloaded methods and one of them takes `vector<vec_t>` (that is `tensor_t`) so it should work and when I look its implementation, `network::predict` methods simply call matching `network::fprop` methods.

I'm not sure how it doesn't work in your case. Can you post reproducible code?

[2017-03-06 22:45] Toby237 commented on #610
It looks like I got it to work now with a loop that iterates over every row of my **"test_images"** vector.

But the code I used when I got an **error** was this:
I copied the "construct convolutional neural networks" **example** (https://github.com/tiny-dnn/tiny-dnn), but trained with my own _"train_images"_ and _"train_labels"_.

After I trained the network I tried to assign the "prediction" to

[2017-03-07 09:19] Randl commented on #610
@Toby237 So the issue can be

[2017-03-07 09:20] Randl commented on #203
Closing. @pebz if you have any issues feel free to reopen or open a new issue

[2017-03-07 09:20] #203 closed

[2017-03-07 09:21] Randl commented on #255
@keijimaeda82  Can you try the latest version and check if the bug is still present?

[2017-03-07 09:22] #244 closed

[2017-03-07 11:33] #610 closed

[2017-03-07 13:05] kristoffzoghbi commented on #606
@pliptor no I'm not normalizing the data. I should normalize since it's a regression task instead of classification?
How can I normalize the `vec_t` input images?

[2017-03-07 14:26] rboyes opened #611 "3d neural network"
Hi,
Looking at the source tiny dnn only supports 2d neural networks, is there any intention to support 3d volumes in the future, or how much work would it be to get it to process 3d volumes? From reading the code it appears we would need to add numerous data structures/algorithms like:

- index3d -> index4d (shape3d -> shape4d)
- Tensor -> Tensor5d : kDimensions increase to 5
- Reimplementation of

[2017-03-07 14:52] Randl commented on #611
We are exactly implementing `Tensor` class which supports arbitrary number of dimensions

[2017-03-07 17:27] pliptor commented on #606
@kristoffzoghbi  It's kind of hard to tell without seeing the whole setup. I was just wondering why you were seeing no changes in the network and I thought one potential cause would be saturation, regardless if it was regression, classification, or any other system. Most systems have a dynamic range of operation.

The cifar10 example code uses this to parse the input data
[cifal10 parser](https://

[2017-03-07 19:19] rboyes commented on #611
Hi,
Thanks for your response. Is there any time frame when this will be available?
Thanks

[2017-03-07 19:45] omimo commented on #599
thanks @pliptor.

I don't think they are the same thing (I might be wrong).

I was actually referring to Instance Normalization as explained in [Instance Normalization: The Missing Ingredient for Fast Stylization](https://arxiv.org/abs/1607.08022)

The authors say instance normalization is also known as contrast normalization. So I was hoping that it is already implemented there.

[2017-03-07 19:50] bhack commented on #599
@omimo See thread https://github.com/yusuketomoto/chainer-fast-neuralstyle/issues/19

[2017-03-07 19:56] omimo commented on #599
thanks @bhack. I'll try the batchsize=1 with the BN layer.

[2017-03-07 19:56] #599 closed

[2017-03-07 23:04] pliptor commented on #599
@omimo I think you are right. That's an interesting paper.

[2017-03-09 04:19] karandesai-96 opened #612 "Max Unpooling Layer must bind with a Max Pooling Layer for reconstruction."
I came across this issue while working on #608.

Current implementation of `max_unpooling_layer` is broken, and we didn't realize that as it was untested. Max unpooling layer belongs to a category of upsampling Layers which reconstruct the inputs they receive, back to the input image space.

As described by _Zeiler and Fergus_, this is simply the backprop of a max pooling layer. More clarity can b

[2017-03-09 04:19] karandesai-96 commented on #612
/ping: @beru @bhack @edgarriba @nyanp @Randl

[2017-03-09 12:52] kristoffzoghbi commented on #606
@pliptor I've fixed the data encoding and **modified the activation function of the output layer from `softmax` to `activation::identity`** and it seems to work! Since it's a regression task the output has to be linear.

I will close this issue for now.

[2017-03-09 12:52] #606 closed

[2017-03-09 18:38] pliptor commented on #606
@kristoffzoghbi I'm glad something worked! I haven't done regression tests yet but I see what you did
is recommended by others too.

https://deeplearning4j.org/linear-regression

 It seems then the saturation conjecture was correct. It was just happening at the output and not the input. (BTW, it reminded me that I do get better classification performance in some of my networks using identity activ

[2017-03-10 17:40] m-toman commented on #610
I'm having the same issue. So I am also running in a loop, but that's more a workaround than a solution. Is the call with a tensor faster than sequential calls with vectors?

[2017-03-10 20:42] OleStauning commented on #540
Yes - this have fixed the problem. Thanks.

[2017-03-10 20:42] #540 closed

[2017-03-10 21:36] LudwigBoltzmann opened #614 "performance issue(vectorization)"
it seems that there is a bug about product function that in function
reduce_aligned at product.h, it is using loadu that loadu is for the unaligned function. it seems it has to be changed to load function. For my case it enhanced the performance a lot.

Cheers,
Noh-hoon Lee

[2017-03-10 22:18] OleStauning opened #615 "Question: how to use concat and slice"
Lets say I have a network defined by:
[code]
However, Instead if the first fully connected layer 32x32, I want to slice the network into 4 times 8 input nodes, each of the 4 slices should then be fed into a fully connected network 8x8 and thereby sharing the weights. After this I will concat the 4 times 8 nodes and continue with the 32x10 fully connected layer.

Can this be done? - with correct ba

[2017-03-11 09:14] beru commented on #614
@LudwigBoltzmann You are correct.

[2017-03-11 11:09] m-toman opened #616 "Adding layers changes existing weights"
Hi,

I've noticed that adding layers after (manually) setting weights, modifies the weights of existing layers:

Adding a layer, then setting w[0]
[code]
After all weights for this layer are set, I'll check again:
[code]

Adding a second layer and checking the weight of layer 0:
[code]

This does not occur when setting
[code]
after setting the weights and before adding the next layer.

Is this int

[2017-03-11 13:53] Toby237 commented on #210
An implementation of LSTM/RNN would be so great. I'll also stay tuned for that :)

[2017-03-12 02:11] pliptor commented on #612
That's a nice diagram you drew. Is there an analogous operation that happens in average_unpooling_layer as well? I'm gonna read your reference.

[2017-03-12 19:23] edgarriba commented on #616
Could you share the full snippet so that we can test it?

[2017-03-13 07:09] pliptor commented on #612
There might be something to be learned here as this thread extends for almost a year period.

https://github.com/tensorflow/tensorflow/issues/2169

[2017-03-13 07:18] karandesai-96 commented on #612
Me and @wangyida had a discussion about the implementation, we thought of two approaches:

1. Say there's a network with three conv and pool alternating layers (total six). If we add a max unpool layer, it will share max locations with the last index pooling layer in the network, both of us agreed that we saw examples where unpooling layers appear after pooling layers in a symmetric fashion.

2. W

[2017-03-13 09:57] pliptor commented on #612
From my partial understanding, yes, I agree the max unpool layer must bind to a corresponding max pool layer to obtain the "switching locations " or "max locations" as you mention in 1. I realize though I have missing bits of understanding and I need to first read also their [deconvnet paper](http://www.matthewzeiler.com/pubs/cvpr2010/cvpr2010.pdf) first.

It seems to be the goal is to "probe" or

[2017-03-14 02:32] pliptor commented on #612
I think I'm starting to get a better idea now. Can you tell if the current max_pool_layer (not the unpool) keeps track of the switches so it can be used during back propagation? [cs231n](http://cs231n.github.io/convolutional-networks/) recommends it for efficiency. I thought max_unpool_layer could reuse the code it or vice-versa.

[2017-03-14 02:51] karandesai-96 commented on #612
@pliptor Yes that was the basis of our discussion. You can check for `max_pool_layer_worker_storage` in **tiny_dnn/core/backend.h** (tiny or avx, I can't remember, but it's in one of them)

[2017-03-14 03:16] pliptor commented on #612
It is in backend_avx.h but not in backend_tiny.h

[2017-03-14 03:18] karandesai-96 commented on #612
@pliptor: So that stores max locations from a pooling layer. We must connect an unpooling layer to a pooling layer in a graph network and make this storage as a shared reference between both the layers. Something close to this should do our job. :wink:

[2017-03-14 03:45] pliptor commented on #612
@karandesai-96 That seems to account for part of the job required for what the paper you referred does. If I'm reading this right, there seems a need for an independent data path to propagate the feature maps across the layers. And then a way for the user to dump the values out for the layers of interest. Maybe the same datapath used for backpropagation can be used if time shared. Is it how you se

[2017-03-14 03:52] karandesai-96 commented on #612
I was thinking of direct linkages, but what you suggest is a class which inherits from layer, and resides in between the connection of max pool and unpool layer, and since such linkages are common for conv-deconv, avg pool-avg unpool layer pairs, we can use the same layer in between, did I get your right ?

If I did, then your approach introduces ra memory requirements, but has a good generalizati

[2017-03-14 04:26] pliptor commented on #612
Say you have a serial network like this.
[code]
My understanding of the paper is that to probe layer2 you'd need something like this
[code]
So technically there appears to be something running in parallel with a data flow from bottom up for the probe system at least up to the last layer of interest (2 in this example). It seems almost like a forward propagation in reverse but I can be wrong. I'm n

[2017-03-14 05:59] karandesai-96 opened #620 "Cmake Log too noisy after layer-activation decoupling took place."
The build log gives out too many warnings after decoupling took place. As of now, when I made this issue, these are two links of latest Travis build logs from `master` and `feat/decouple_activations`:

1. `master`: https://travis-ci.org/tiny-dnn/tiny-dnn/builds/207023926
2. `feat/decouple_activations`: https://travis-ci.org/tiny-dnn/tiny-dnn/builds/210812939

Clearly can be seen that builds on mas

[2017-03-14 07:07] karandesai-96 commented on #620
Can't be totally fixed as of now, because a few indices are stored as `serial_size_t`. Well if we are referring to indices of an array, why is `serial_size_t` required ? An int should suffice..

So I guess relates to #553. `serial_size_t` to be restricted in serialization routines, `size_t` as place holders for values of activations / weights / biases etc. and plain `int` to refer to indices of an

[2017-03-14 07:08] karandesai-96 commented on #620
/ping: @beru @bhack @edgarriba

[2017-03-14 07:11] WenboTien commented on #598
Ok, I'll try it soon

[2017-03-14 07:41] shimiaoli opened #621 "How to load pkl pre-trained model from Theano ?"
I have a pre-trained model in pkl format which was trained using Theano.
Now I want to write a test program using tiny-dnn. How can I convert the Theano pre-trained model to some format can be loaded by tiny-dnn ? or how can I write the weights into tiny-dnn model ?

Thanks.

[2017-03-14 09:52] edgarriba commented on #621
One solution can be using [hickle](https://github.com/telegraphic/hickle) to save parameters in python and then load them from C++ using this script
https://github.com/szagoruyko/functional-zoo/tree/master/cpp_parser

[2017-03-14 17:22] m-toman commented on #616
This is integrated in a larger application that loads the weights from a protobuf file etc., but I'll see that I set up a small program asap.

[2017-03-14 17:53] bhack commented on #616
Yes just a snippet to compile and reproduce it.

[2017-03-15 04:47] pliptor commented on #389
Hi,

On Linux I can tell TBB is indirectly on by looking at the CPU% field with the `top` utility. It usually runs at around 300 to 400% (quad core CPU) in my case when TBB is on and a maximum of 100% with TBB off.

I also applied a patch in my build as you describe to replicate your tests.

[code]

I confirm that running tiny-dnn/examples/benchmarks/main.cpp  always leave `end=1` but I suspect th

[2017-03-15 09:17] m-toman commented on #616
Here we go:

[code]

Output:
[code]

[2017-03-15 16:54] #614 closed

[2017-03-15 16:55] bhack commented on #614
Fixed in https://github.com/tiny-dnn/tiny-dnn/pull/622. @beru Is this solving any other avx issue already opened?

[2017-03-15 17:55] pliptor commented on #616
Maybe if you have xavier type initialization of weights, and the layer is set to trainable, adding new layers  may readjust of previous weight depending on fan in/fan out changes with the addition of subsequent layers.

[2017-03-15 22:32] edgarriba commented on #615
I haven't played at all with graph networks but at a first glimpse I would say that `cc` should have a size of `cc(64, 64)`. I suggest you to build your model incrementally.

@wangyida last year you played around with this. Any idea?

[2017-03-15 22:36] edgarriba commented on #616
@m-toman I don't have an answer right now but what you could do is try to use a debugger to see what happens internally for each case. /cc @nyanp you implemented `set_trainable` routine, any idea?

[2017-03-16 00:23] beru commented on #614
@bhack It's very unlikely as this issue is all about performance due to the use of unaligned load instructions even if source and dest addresses are aligned to register sizes.

[2017-03-16 06:48] pliptor commented on #570
Okay, I figured out a way for me to test AVX with the help our our friend Travis.

[avx.patch.txt](https://github.com/tiny-dnn/tiny-dnn/files/846859/avx.patch.txt)

[results](https://travis-ci.org/pliptor/tiny-dnn-lab/builds/211631366)

If someone could verify if the avx sse test code is proper, it would be helpful.
Basically if the code is right, it is saying AVX calculations are twice the value

[2017-03-16 07:49] pliptor commented on #570
BTW, the differences above were for Travis/Linux. It seems Travis/macos has a wider discrepancy. It's in the [results](https://travis-ci.org/pliptor/tiny-dnn-lab/builds/211631366) as well.

[2017-03-16 08:37] shimiaoli commented on #621
Thank @edgarriba for the advice. I will try it.
Then I have another question here. How to access the weights of a model in tiny-dnn so that I can write the loaded parameters in ?
For example: I write such a model in tiny-dnn:
network<sequential> net;
net << convolutional_layer<relu>(32, 32, 5, 3, 9)
<< average_pooling_layer<relu>(28, 28, 9, 2)
<< fully_connected_layer<tan_h>(14 * 14 * 9, 120)
<< f

[2017-03-16 09:54] edgarriba commented on #621
`nn[i]->weights() = your weights` should work
Note that we changed the API `get_weights -> weights`

[2017-03-16 11:02] beru commented on #570
I'm not sure what `one bit shift off` and `2 bits shifts offf` mean in here.

`resemble` method accumulates the values holded by its type.
So according to your test code, `AVX calculations are twice the value of what SSE computes` is correct behavior.

[2017-03-16 11:10] beru commented on #570
It depends on the type you use. (Basically) SSE instructions use 128-bit XMM registers and AVX/AVX2 instructions use 256-bit YMM registers.

 &nbsp; | float | double |
-- | ---- | ----
sse | 4 | 2 |
avx | 8 | 4 |

[2017-03-16 14:34] hellbago opened #623 "Unbalanced data"
Suppose i have to solve an n-way classification problem and i have an unbalanced training set (let's say that some classes have twice the number of elements than the other ones). What happens in the training algorithm inside tiny-dnn? Can it manage such situation, for instance, by updating the weights of the net proportionally to the number of samples of different classes inside a minibatch? Or to

[2017-03-16 15:15] pliptor commented on #570
@beru Thank you very much for the detailed explanation. What I meant by `one bit shift off` is that the 2x difference seemed to be a bit shift (<<)  in the mantissa between AVX and SSE. But now you explained "resemble" accumulates the values within the XMM and YMM registers. I was then using the wrong method to read the results. So somehow the way I'm loading the registers duplicates the values wi

[2017-03-16 17:03] pliptor commented on #623
It seems the question you describe is not specific to a particular method or algorithm of machine learning. I'd suggest looking for insights from titles similar to this [paper](https://link.springer.com/chapter/10.1007/978-0-387-09823-4_45) on how to handle unbalanced training sets.

[2017-03-16 20:24] OleStauning commented on #615
@edgarriba thanks for your answer.

I'm pretty sure the dimensions are correct in the network; otherwise I get an `layer dimension mismatch!` exception ( cc(64,64) gives this error ).

I worry that tiny-dnn does not support sharing of weights in the way I want. Maybe result of the forward- and backward passes are tightly coupled with the object representing the layer in the graph. This design woul

[2017-03-16 22:10] bhack commented on #623
I'm closing this. it is really a general topic.

[2017-03-16 22:10] #623 closed

[2017-03-17 01:06] pliptor commented on #570
@beru Thank you again for your help checking my earlier verification code. I fixed it in my own
[branch](https://github.com/pliptor/tiny-dnn-lab/pull/2). Travis [results](https://travis-ci.org/pliptor/tiny-dnn-lab/builds/211961831).

For these particular tests SSE/AVX/CPU all match using EXPECT_EQ() at 10^-30 for float and 10^-100 for double final values (Linux tests).

[2017-03-17 16:36] pliptor commented on #570
@beru Here's one good bisection point to start. Forward propagation stage of a single layer of identity activation. Do you think the differences are within reasonable ranges?

https://travis-ci.org/pliptor/tiny-dnn-lab/jobs/212175421

[2017-03-17 20:47] iperov opened #625 "How to stop training OnEpochEnumerator() ?"
subj

[2017-03-18 03:37] pliptor commented on #570
This version compares the differences in error vector magnitude (EVM), a relative difference measure, and the output is expressed in parts per billion (PPM). My verification code needs some debugging as gcc and clang outputs don't agree.

https://travis-ci.org/pliptor/tiny-dnn-lab/jobs/212332784

[2017-03-18 03:52] beru commented on #570
@pliptor Many computational operations aren't associative so I don't pursue to align calculation results.
Now I suppose the network sudden death (accuracy turns to 1000/10000) is due to exploding gradient problem. Since it happens with the internal backend too, I'm not sure if the problem is inherent inside the avx backend.

[2017-03-18 04:11] pliptor commented on #570
@beru Thank you for the explanation.  [This paper](https://arxiv.org/pdf/1412.7024.pdf) and others support that neural network training is very forgiving with calculation precision so I agree with you that avx backend itself is then probably okay.

[2017-03-18 14:41] kristoffzoghbi commented on #602
@bhack what do you mean by engine x layer?

[2017-03-18 14:48] bhack commented on #602
That you can use set_backend_type at layer level and so switch on another engine for fully connected layers.

[2017-03-18 21:18] kristoffzoghbi commented on #602
@bhack you mean like this?

[code]

I'm only using **NNPACK** on _convolutional_layer_ and the **internal backend** on _max_pooling_layer_ and _fully_connected_layer_ but I'm still getting `terminate called after throwing an instance of 'tiny_dnn::nn_error'
  what():  Not supported engine: NNPACK`

Am I doing something wrong?

[2017-03-19 03:53] beru commented on #625
@iperov You can use `network::stop_ongoing_training()` method which was added by kecsap in #493

[2017-03-19 10:49] bhack commented on #602
@edgarriba?

[2017-03-19 11:35] edgarriba commented on #602
@kristoffzoghbi that's really weird. Wait are running your code for training?

[2017-03-19 11:57] kristoffzoghbi commented on #602
@edgarriba yes I am using the code for training. I see your point now.

So I'll use a network for training (convolutional layer with internal backend) and a slightly different one for evaluation (convolutional layer with NNPACK backend).

Sorry for wasting your time.

[2017-03-19 12:00] edgarriba commented on #602
well yes and no wasting time

check https://github.com/Maratyszcza/NNPACK#layers

we have no backward routines implemented, but nnpack offers them. Maybe you could try PR with that implementation.

[2017-03-19 12:09] bhack commented on #602
Yes a PR to enable NNPACK backward could be very appreciated.

[2017-03-19 13:42] beru commented on #620
@karandesai-96 I think `size_t` is suitable for indexing arrays in most cases.
The type of the return value of `std::vector::size()` method is `size_t`.
http://www.cplusplus.com/reference/vector/vector/size/

[2017-03-19 13:44] Randl commented on #620
@karandesai-96 indices are actually unsigned. `size_t` is the variable to use for sizes, indices, etc.

[2017-03-20 15:30] nyanp commented on #616
@m-toman
Thank you for clarifying the issue.

#### TL;DR
It is intended behavior. If you want to avoid this behavior, you need to modify weights after constructing all layers and calling ```network::init_weight()``` explicitly.

However I think it's better not to reset weights when adding a new layer.

#### Detailed Description
Each layer has an internal flag (layer::initialized_) to check if weig

[2017-03-20 15:42] beru commented on #570
@pliptor It took some time and I've found the way to prevent the problem from happening.
(The problem that accuracy suddenly drops to 1000/10000 around the peak of training with CIFAR-10 example train program)

In the train program, `cross_entropy` loss function is used.
https://github.com/tiny-dnn/tiny-dnn/blob/b89239c024a6f4d6e79f9f4108c30d483120691b/examples/cifar10/train.cpp#L111

And in `cros

[2017-03-20 21:31] pliptor commented on #570
@beru Very nice finding.

[2017-03-20 21:40] bhack commented on #570
And https://github.com/tiny-dnn/tiny-dnn/issues/410?

[2017-03-20 21:48] pliptor commented on #570
@bhack It's most likely related by the same issue. cross_entropy_multiclass probably suffers as well.

[2017-03-21 03:15] shimiaoli commented on #621
Hi, @edgarriba,

In tiny-dnn documentation 1.0.0a1
it is mentioned:
get weight vector
std::vector<vec_t*> weights = nn[i]->get_weights();
Number of elements differs by layer types and settings. For example, in fully-connected layer with bias term, weights[0] represents weight matrix and weights[1] represents bias vector.

I am wondering how are the number of elements in cnn layer case.
If the nn[i

[2017-03-21 09:09] srk97 commented on #210
Does tiny-dnn support residual connections as of now?

[2017-03-21 09:09] srk97 commented on #405
Does tiny-dnn support residual connections as of now?

[2017-03-21 12:51] beru commented on #570
@bhack I think #410 is related too. https://github.com/tiny-dnn/tiny-dnn/issues/570#issuecomment-281405231

Now I hope I'll be able to reach > 80% accuracy with CIFAR-10 dataset...

[2017-03-22 09:10] shimiaoli opened #627 "Error: "identity" is ambigous"
Hi,

I have defined  network as :
net << convolutional_layer< identity >(128, 128, 5, 1, 8, padding::valid)
	        << max_pooling_layer< relu >(124, 124, 8, 4)
			<< ...
			<< fully_connected_layer< identity >(1024, 30)
			<< fully_connected_layer< identity >(30, 40);

Then I have got syntax error in my IDE (VC2010) with both the CNN layer and the FC layers saying: Error: "identity" is ambiguous

[2017-03-22 09:13] Randl commented on #627
Your compiler isn't supported, please use more recent VS or mingw

[2017-03-22 14:43] nyanp commented on #627
Please use Visual Studio 2013 or later version.

Maybe it is caused by ambiguity between ```std::identity``` and ```tiny_dnn::activation::identity```.

[code]

This error will occur on more recent VS, but removing using directive or replacing ```identity``` with fully qualified name would resolve the problem.

[2017-03-22 14:57] nyanp commented on #623
@hellbago
tiny-dnn provides "target cost" parameter for rebalancing training data. [this test case](https://github.com/tiny-dnn/tiny-dnn/blob/master/test/test_target_cost.h#L143) would help you.

[2017-03-22 18:42] pliptor commented on #623
@nyanp That's a neat example. In technical terms, what you are saying is that "target cost" would help those that have enough bayesian (true a priory probability and conditional probabilities of the n classes) information make their due use during training.

[2017-03-22 20:50] pliptor commented on #570
@bhack Did you have any luck? tiny-dnn does pretty well in MNIST. This is a funny quote in [tensorflow](https://www.tensorflow.org/get_started/mnist/pros) "Getting 92% accuracy on MNIST is bad. It's almost embarrassingly bad." I don't know what's considered bad for CIFAR-10 but I hope the current example can be considerably improved. I wonder what's the best people get without data shuffling and d

[2017-03-22 22:49] bhack commented on #570
@pliptor http://rodrigob.github.io/are_we_there_yet/build/classification_datasets_results.html#43494641522d3130

[2017-03-22 23:24] pliptor commented on #570
@bhack Yes, the reddit article is trying to parse Rodrigo's list, which is referenced within.

[2017-03-24 02:09] shimiaoli opened #628 "Question on weight index in CNN layer"
Hi,

In tiny-dnn documentation 1.0.0a1
it is mentioned:
get weight vector
std::vector<vec_t*> weights = nn[i]->get_weights();
Number of elements differs by layer types and settings. For example, in fully-connected layer with bias term, weights[0] represents weight matrix and weights[1] represents bias vector.

I am wondering how are the number of elements in cnn layer case.

If the nn[i] layer is

[2017-03-25 14:50] beru commented on #570
@pliptor The short answer is "**No**". I've tried to improve accuracy by tweaking network model of example train of CIFAR-10 but I still haven't achieved considerable gain with training accuracy.

I tested several things such as changing type of activation functions to use (relu to elu), the number of in/out channels of conv layers (increasing the number of channels), tested batch normalization la

[2017-03-25 21:31] pliptor commented on #570
@beru Wow you did quite a lot of experimenting. Thank you very much for so much interesting data. I hope it was fun for you. It then looks like checking or tracing accuracy is very difficult. Maybe when the field evolves a bit more we will have references to check against at some unit level.

[2017-03-26 01:09] beru commented on #570
@pliptor The problem for me is I don't have solid foundation/understanding in the field. Very slow training reminds me of using offline 3D rendering software in the old days. Finding splendid sceneries within a procedural world seems possible as it holds quite a lot of possibilities/combination, but I need to enhance my abilities to pursue them.

An expert says `CIFAR-10` is a solved problem just

[2017-03-26 07:54] edgarriba commented on #570
@beru what do you think is the difference in terms of implementation?

[2017-03-26 07:59] Randl commented on #570
Well I managed to run a model which is claimed to achieve 90+% accuracy on CIFAR10, but it takes tons of time to train (~1 hour per epoch for 4 x E7-4860 v2 @ 2.60GHz, which means it'll take weeks to train). We need something relatively slim.

I try to look further on it.

[2017-03-26 10:59] Randl commented on #570
Seems like ResNet is the best solution here)

[2017-03-26 17:43] prlz77 commented on #210
Hi, I have posted a message on google [groups](https://groups.google.com/forum/#!topic/opencv-gsoc-2017/_Diliw_hns4) for implementing RNNs for GSOC2017. As @nyanp says, this implies allowing for multiple input/outputs on the graph, as well as modifying the fit/train functions, and adding examples. As I have seen in the code, there has been an attempt to allow for multiple inputs/outputs in the gra

[2017-03-26 17:52] bhack commented on #210
@prlz77 You are welcome. It is really hard to design a good RNN api. See https://github.com/fchollet/keras/issues/3692 and other kind of issues in other frameworks. So seems that also for CUDNN it was hard to design a good acelleration API for rnn components.

[2017-03-26 18:04] prlz77 commented on #210
@bhack Thank you for the interest. I agree with you it is difficult to design a good RNN API, and that is why I think my contribution would be a good starting point for at least supporting sequential graphs and leave optimization for future contributions. In fact, I am used to work with https://github.com/Element-Research/rnn, without the CUDNN backend, and it is fast enough for most purposes.

[2017-03-26 18:22] bhack commented on #210
I think that we could have problem soon or later that other solution are already trying to solve: Dynet, pytorch, tensorflow fold. See https://www.reddit.com/r/MachineLearning/comments/5otdwl/d_tensorflow_vs_pytorch_why_is_dynamic_better/

[2017-03-26 18:38] prlz77 commented on #210
@bhack every time I have had to implement encoder-decoder and hard attention models in TensorFlow, I have had a hard time due to the static graph implementation, in this sense dynamic is better, although static allows for better optimization. However, I think this is a more transcendental decision on tiny-dnn on which I have no voice since I am new here. As I see it, for now we could avoid this "m

[2017-03-26 18:58] edgarriba commented on #210
I agree with @prlz77 that switching the whole library to a dynamic graph model might need a huge effort probably a bit incompatible in time with the current proposal. Maybe @nyanp could give their opinion since he already has initial ideas about RNNs. As a first approach I don't think it's a bad idea to start with fixed  sequence sizes.

[2017-03-26 19:11] edgarriba commented on #210
/cc @Randl what could this affect to Tensor/GPU refactor?

[2017-03-26 19:57] beru commented on #570
@edgarriba I don't get that question. I just tested the model on [this page](http://cs.stanford.edu/people/karpathy/convnetjs/demo/cifar10.html) with `tiny-dnn`.

[2017-03-26 20:12] bhack commented on #210
I don't think dynamic could be handle to gsoc.. but just to be aware that specially rnn introduce this topic.

[2017-03-26 20:34] pliptor commented on #570
@beru maybe the question is why ConvNetJS network is 3 times faster to train than the one defined in tiny-dnn.
They are similar with respect to having 3 convolutional layers of size 5x5. But:

|Layer |ConvNetJS | tiny-dnn|
|---|---|---|
|1 | 16 feature maps | 32 feature maps |
|2 | 20 feature maps| 64 feature maps |
|3| 20 feature maps| 64 feature maps |

Also, tiniy-dnn as an additional fully con

[2017-03-26 20:39] edgarriba commented on #210
@prlz77 maybe you could introduce that topic in your proposal and take it into account during the API design, just in case that in a future we decide to switch to a dynamic model.

[2017-03-26 20:40] edgarriba commented on #570
@pliptor that's the question :smile:

[2017-03-26 20:53] pliptor commented on #570
@edgarriba Cool. ConvNetJS does also a bit of data augmentation. That's another thing that shifts complexity away from the network itself for the accuracy/complexity trade-off.

[2017-03-26 21:08] beru commented on #570
@pliptor The difference of the models is very clear so I wonder why edgar needed to ask. But thank you for the clarification.

I don't think 80% accuracy is possible with CnvNetJS CIFAR-10 model.
I tested it a few days ago and I could get was around 74%.
I also found [this post](https://groups.google.com/forum/#!msg/convnetjs/OwcXjkwECbg/s0QGqtMeFWwJ) .

[2017-03-26 21:36] edgarriba commented on #570
@beru not sure if I'm missing something, just curious why convnetjs takes 30s and tiny-dnn 90s.

[2017-03-26 22:01] pliptor commented on #570
@beru Nice. Someone should launch a competition for the best scheme that maximizes
`
accuracy *(1/(training complexity)).
`
for CIFAR-10 dataset. :)

[2017-03-27 07:00] prlz77 commented on #210
@edgarriba @bhack thank you, indeed your comments help to make a better proposal.

[2017-03-27 11:18] beru commented on #570
@Randl wow, If it takes weeks to train with such a pretty good spec computer, it's almost impossible to use that model with my pc.

[2017-03-27 11:25] beru commented on #570
@edgarriba Strictly speaking, I didn't compare convnetjs and tiny-dnn. I used a similar model written on ConvNetJS CIFAR-10 demo page with tiny-dnn and it takes about 30 secs per epoch with my pc. Why it only takes 30secs per epoch is, as I see it, because it uses fewer channels so it spends less time on mostly conv layers.

[2017-03-27 14:36] m-toman commented on #616
@nyanp
Thanks for the helpful answer. Would have spared me quite some time if I asked before debugging for days :).
I've checked how it's done in the caffe-converter but seem I missed that part.

So in my case I could do:
- add all layers
- call init_weight
- overwrite the initialized weights by accessing them with layer.weights()

Correct?

[2017-03-28 08:34] shimiaoli commented on #621
I have tested nn[i]->weights() = your weights,  but it does not work.
Then I have to change the weights in the json file.

[2017-03-28 16:34] beru commented on #570
accuracy *(1/(training complexity)).
for CIFAR-10 dataset. :)

@pliptor Considering the exponential relationship between accuracy and complexity of network models, it can be difficult to rank its value as it is a subjective matter. So having a graph plot would be good, or so I thought... (not my task.. not my task.. somebody in the field might have done it already)

[2017-03-28 19:10] pliptor commented on #570
@beru Complexity is a bit more difficult to define but I think accuracy is well defined. Accuracy that I have in mind is the number of correct classification of images in the test set.

@Randl has a nice computer. We could have a competition with the following metric
[code]
Typical commodity resources and total time of training is what matters for us, casual users, anyway. I wonder what are good `

[2017-03-28 20:29] edgarriba commented on #621
@shimiaoli could you poiint us to a spinet so that we can see how do you do it?

[2017-03-30 06:51] shimiaoli commented on #621
@edgarriba
Here is how I do it:
float W[128*128*1];
float b[8];
....//assign values to W and b
net[0]->weights()[0] = &W;
net[0]->weights()[1] = &b;

The code can be compiled and run. But no weights in the net model are changed after that.

[2017-03-30 07:41] #628 closed

[2017-03-30 10:13] shimiaoli commented on #621
@edgarriba
I have just found out the right way to do it from a piece of code in master/tiny_dnn/io/caffe/layer_factory_impl.h

 vec_t &w = *dst->weights()[0];
  vec_t &b = *dst->weights()[1];

  // fill weights
  for (int o = 0; o < out_channels; o++) {
    for (int i = 0; i < in_channels; i++) {
      if (!table.is_connected(o, i)) {
        dst_idx += window_size * window_size;
        continue;

[2017-03-30 10:24] edgarriba commented on #621
rgiht, that's the proper way to do it. /cc @karandesai-96

[2017-03-30 13:14] RafaRuiz commented on #28
Hello @Randl I left time ago my job where I was working with that.

Apparently the fault could be in the data set, which was pretty unstable, could that be the reason?

[2017-03-30 17:55] prlz77 commented on #210
I have uploaded a draft, if any mentor is interested I will be happy to  receive some feedback :)

[2017-03-30 18:39] tomjaguarpaw commented on #146
@randi Split and Concat are still not supported, so yes, I would say there are still issues!

[2017-03-30 18:44] tomjaguarpaw opened #634 "load_validation_data is redundant"
`load_validation_data` doesn't actually do anything.

https://github.com/tiny-dnn/tiny-dnn/blob/master/examples/caffe_converter/caffe_converter.cpp#L82

and it seems like it's never done anything since it was created:

https://github.com/tiny-dnn/tiny-dnn/commit/dc517eeb52dd61f54e171f3ad7ac2a32b9fa0c03#diff-f7cc8b0f12f719aac419390b58e1217fR119

[2017-03-31 03:26] shimiaoli commented on #627
This problem does not happen in VS2015. Thank you all.

[2017-03-31 03:26] #627 closed

[2017-03-31 03:29] shimiaoli opened #638 "How to get output of each layer ?"
I need to examine the output values of each layer.
Is there any simple function for doing this ?
Thanks.

[2017-03-31 06:09] shimiaoli commented on #638
It seems net[i]->output() does this.

[2017-03-31 06:31] shimiaoli commented on #638
vec_t outdata = net[i]->output()[0][0];

[2017-03-31 06:31] #638 closed

[2017-04-01 05:25] beru commented on #628
https://github.com/tiny-dnn/tiny-dnn/blob/6d764671f989e034030e5d88661ae49e4b4ce9ae/tiny_dnn/util/util.h#L155
Each implementation uses `index3d::get_index` method for indexing.

The size of weights is `depth` x `height` x `width` and when depth: 6 height:5 width:5,
indexes are
ch:0 y:0 x:0 idx:0
ch:0 y:0 x:1 idx:1
ch:0 y:1 x:0 idx:5
ch:0 y:1 x:1 idx:6
ch:1 y:0 x:0 idx:25
ch:1 y:0 x:1 idx:26
ch:1 y:

[2017-04-01 13:59] szad670401 opened #640 "Is it possible that load weights from Keras model ?"
I trained a OCR model use Keras.
I want to apply this model to my cpp project. I tried the keras2cpp project . but it seems can't support accelerate with SSE/AVX instruction.
Is it possible that load weights from Keras model ?

[2017-04-01 17:15] nyanp commented on #616
@m-toman
Correct. Contribution to improve this behavior is welcome :)

[2017-04-01 19:44] busracankaya commented on #231
Is visual studio community 2013 still supported?

[2017-04-02 01:57] beru commented on #231
It isn't supported anymore.

[2017-04-02 11:29] karandesai-96 commented on #640
Following this thread. I am planning this as an added functionality for my upcoming GSoC project.
/cc: @edgarriba @beru

[2017-04-02 11:30] karandesai-96 commented on #640
@szad670401 could you please post the link of  source code of this keras2cpp project you are talking about ? Might be a help for me.

Thanks.

[2017-04-02 11:47] karandesai-96 opened #641 "Provide automatic shape inference for intermediate layers during network declaration."
As per the current API of tiny-dnn, every layer of network has to specify input shape of the tensor which shall come from its previous layer stacked in the network.

For example (current API at feat/decouple_activations branch):
[code]

We can provide a way to do automatic shape inference at intermediate layers, such that it is only mandatory to specify input shape at first layer of network.

The

[2017-04-02 12:00] szad670401 commented on #640
https://github.com/pplonski/keras2cpp

[2017-04-02 12:06] beru commented on #641
#508 is related

[2017-04-05 02:46] shimiaoli commented on #621
Just add a note here to anyone who will do similar work. Theano and tiny-dnn have different conventions in  CNN layer & dropout layer computation. One should be very careful while converting the models. In CNN layer, filter is flipped 180 degree in Theano before compute correlation. For dropout layer, output is scaled down by the drop-out factor in Theano while unchanged in tiny-dnn.

[2017-04-05 02:47] #621 closed

[2017-04-05 02:49] karandesai-96 commented on #621
Thanks for the point of caution @shimiaoli

[2017-04-06 05:08] vishnureghu007 opened #646 "crop layer support"
I have some difficulty in implementing the crop layer after deconvolution for fcn using tinydnn.
could you please tell me if you have any plan to implement crop layer?

[2017-04-07 09:14] karandesai-96 commented on #578
I cannot reproduce this bug in `feat/decouple_activations` anymore. I think you guessed it correct @Abello966, about the types of members in node_tuple being different. @Randl was correct as well, since layers and activations are decoupled, I concatenate them successfully.

[2017-04-07 19:42] MitaliSinha opened #648 "Build the tiny-dnn benchmarks using a cross compiler"
I am trying to build tiny-dnn benchmarks using a pre-compiled Cross-compiler "gcc-4.3.2,glibc-2.6.1 (NPTL,x86/64)" targetting Alpha and running on x86 linux host.
 The steps are as follows:
 $ git clone https://github.com/tiny-dnn/tiny-dnn.git
 $ cd tiny-dnn
 $ export CXX=/home/iiitd/crosscompiler/alphaev67-unknown-linux-gnu/bin/alphaev67-unknown-linux-gnu-g++
 $ export CC=/home/iiitd/crosscompile

[2017-04-08 07:29] Randl commented on #648
I believe you need at least gcc 4.8 or higher

[2017-04-08 08:37] bembam commented on #648
@Randl I have gcc 5.4.0 (Ubuntu-16.04.1 LTS)

[2017-04-08 09:03] Randl commented on #648
You said

Also, the problem with unrecognized compiler flags points to the old compiler too

[2017-04-08 11:35] Polyacene opened #649 "Simple minded function approximation"
Dear All,
in trying to learn a little bit about neural networks I came across tiny-dnn,
which appears to be nicely suited for someone familiar with C++.
As an initial test I tried to construct a network that approximates a simples function,
5*x exp( -5*x^2) in  the range (-1:1). However I failed miserably, the predicted values
do not reflect the desired function.
May someone give me (== an absolut

[2017-04-08 12:28] bembam commented on #648
Okay @Randl, so I have to use a newer version of the gcc Cross-compiler to make it.   I am new in dealing with cross compilers. So, can you please suggest any link to some pre-compiled Cross-compilers? Or do I have to build it according to my choice of target and host settings?

[2017-04-09 08:31] pliptor commented on #649
@Polyacene  Before adding more layers, try these two following changes and leave everything else untouched. You should gain some insights:

1. Replace `tan_h` in your make_mpl by `relu`
2. Replace `cross_entropy` in your train function by `mse`

[2017-04-09 09:17] Polyacene commented on #649
@Randl: Adding Layers didn't help.

@Pliptor: Using relu & mse leads to results which are not completely off.
  I also changed the domain to (0,1). Looks like one shouldn't come too close to 0 and 1.
Restricting the domain further to (0.1, 0.9) it looks not too bad for some values, but sometimes they are pretty off. Which makes we wonder, whether I messed up something fundamentally. After all,
my

[2017-04-09 09:20] pliptor commented on #649
@Polyacene Did you notice the positive values are better but the negative values are estimated as zero?
If yes, that was part 1 of the exercise.

[2017-04-09 09:28] Polyacene commented on #649
@pliptor : Yes, that's why I changed the domain. BTW, tan_h works also better when restricting to
  x values in (-0.5:0.5).

[2017-04-09 09:29] pliptor commented on #649
@Polyacene Good. So if your goal was to learn what is going on, I hope you now understand the choice of "activations" affect the range of input/output representation. Also the type of distortions they suffer.

[2017-04-09 10:16] Polyacene commented on #649
@pliptor : Well, I understand the concept of input values in general. However, I thought that
 the network should decompose my input function into linear combinations of the activation
functions. And even if that doesn't work too well I didn't expect deviations which are typically > 50%,
and sometimes even significantly larger.
So I wondered, whether I made some fundamental error.

[2017-04-09 10:48] pliptor commented on #649
The biggest fundamental problem, I think, was the choice of cross_entropy for the loss function. I believe it is more often used in classification tasks using multiple output neurons For regression, mse might be a better loss function. Also @Randl is right, after the above changes, adding another layer should further improve precision. But I thought it was helpful to squeeze as much as possible wi

[2017-04-10 04:23] pliptor commented on #649
@Polyacene I thought your idea of experimenting how well a neural network interpolates a non-linear curve was very interesting so I tried a few things and got something to share. The attached code has the following features.

[code]
I hope you find it useful.

[interpolate.cpp.txt](https://github.com/tiny-dnn/tiny-dnn/files/908971/interpolate.cpp.txt)

[2017-04-10 06:19] edgarriba commented on #649
Please check this Keras example, mse loss is also an option for regression problems
http://machinelearningmastery.com/regression-tutorial-keras-deep-learning-library-python/

@Polyacene @pliptor could you send a PR as a regression example? The cpp with a small readme explanation, plots can be very useful for new users.

[2017-04-10 09:44] Polyacene commented on #649
@pliptor Thanks a lot. Your example really makes a difference and provides a great starting point.
Is there a specific reason for the linear activation in the final layer?
I've attached a plot, [Res.pdf](https://github.com/tiny-dnn/tiny-dnn/files/909628/Res.pdf), of the results, and one where I replaced relu by tanh_h. As expected, tanh_h
provides a smoother prediction. In the attached plot N stan

[2017-04-10 10:40] pliptor commented on #649
@Polyacene I have no theory backing for the linear activation in the final layer. I just thought it would help the network with unbounded input/output. In principle, I think there is nothing in the code itself or at least what I understand what the algorithms do that force the input or output to be bounded unless you use activations that do so. If you Google search you'll find typical recommendati

[2017-04-10 16:49] Polyacene commented on #649
@pliptor Here's my first scaling,
[Reg.pdf](https://github.com/tiny-dnn/tiny-dnn/files/910795/Reg.pdf)
performed in simple way by just looping over nn.train(...).
Looks like it's better to increase the training ensemble and <mse> seems
to perform better than <absolute>. Have to stop for today.
All data set are for an tanh activation.

[2017-04-10 17:48] pliptor commented on #649
@Polyacene Thanks for sharing the graph. It's a nice graph. It shows clearly the log-log dependency of accuracy versus epoch for this example. I believe the noise floor comes from the quantization of the training ensemble and their levels seems to match the resolution difference.

[2017-04-12 05:43] vishnureghu007 opened #652 "problem with semantic segmentation and deconvolution"
I tried to run semantic segmentation using fcn alexnet in tinydnn using model - prototxt:
[https://github.com/shelhamer/fcn.berkeleyvision.org/blob/master/voc-fcn-alexnet/val.prototxt](url)
Modifications i made in tiny dnn is for padding(100) and a crop layer is implemented.
The deconvolution layer output from caffe and tiny-dnn for the same network is attached with this.The output from tinydnn is

[2017-04-12 05:47] #646 closed

[2017-04-12 07:21] Randl commented on #652
Deconvolutional layers have some problems, see https://github.com/tiny-dnn/tiny-dnn/issues/560
Hopefully, they'll be fixed soon. @karandesai-96 @wangyida
BTW, we'll be glad to receive changes you made to our code as PR, if you can.

[2017-04-12 10:08] vishnureghu007 commented on #652
The problem was with padding 100 in the first convolution layer.(it throw an error " padding size not supported").
when i gave the input after padding (no padding in the convolution layer of prototxt ) the problem got solved.Now Iam able to get the same output like caffe.
Thanks

[2017-04-12 10:14] Randl commented on #652
Yeah, arbitrary padding isn't supported yet

[2017-04-12 10:15] Randl opened #653 "Arbitrary padding support"

[2017-04-12 12:34] #598 closed

[2017-04-14 03:11] chibai opened #654 "Any one convert squeezeNet sucessfully??"
I checked the history issues, it seems that no one conver the squeezeNet caffe model sucessfully~~
The problem is that the function tiny_dnn::create_net_from_caffe_model( ) can only import 7 nodes of the architecture, and then it stopped automatically without error.
I reissue the problem, hope any one can go into detail to check the source code to figure out the problem~!!!
Best wishes!!!!

[2017-04-14 06:46] Randl commented on #654
Can you please provide the code that fails so we can confirm it and debug?

[2017-04-14 06:48] #652 closed

[2017-04-14 06:49] Randl commented on #523
Closing, if there are places with confirmed speedup, please send a PR

[2017-04-14 06:49] #523 closed

[2017-04-14 06:51] #124 closed

[2017-04-14 06:51] #255 closed

[2017-04-16 12:16] chester256 opened #656 "CNN image classification problem"
Recently I am using tiny-dnn to do an image classification project. But I met some problems. When I run the code, I got this error:
`classify: /usr/local/tiny-dnn/tiny_dnn/lossfunctions/loss_function.h:153: tiny_dnn::vec_t tiny_dnn::gradient(const vec_t&, const vec_t&) [with E = tiny_dnn::cross_entropy_multiclass; tiny_dnn::vec_t = std::vector<float, tiny_dnn::aligned_allocator<float, 64ul> >]: As

[2017-04-16 14:19] chester256 commented on #656
Hi,
I have solved this problem, it was due to a wrong comment.

[2017-04-16 16:21] #656 closed

[2017-04-16 23:54] Toby237 opened #659 "Using tiny_dnn with MFC (C++)?"
I am trying to make my first MFC and want to use tiny_dnn, but I'm having some trouble. When I try to include the "tiny_dnn.h" header file I get 106 syntax errors, the first one is saying:

**Error C2146 syntax error: missing ';' before identifier 'rectified_linear'**

I have tried a lot of different approaches, and for example if I include "tiny_dnn/util/util.h" it will compile.
Also when I try t

[2017-04-17 01:16] beru commented on #659
Which version of Microsoft Visual Studio do you use?
Can you post reproducable code?

[2017-04-17 10:13] chibai opened #660 "How to convert opencv Mat(3 channels) to tiny-dnn vec_t??"
In wiki, I can only found 1 channel Mat example
here's how I process 3 channel Mat, but the answer is wrong.

tiny_dnn::vec_t patch2vect_t(cv::Mat patch)
{
	tiny_dnn::vec_t res;
	int Irow = patch.rows, Icol = patch.cols, i, j;
	if (patch.isContinuous() && patch.isContinuous())
	{
		Icol = Irow * Icol;
		Irow = 1;
	}
	const uchar* srcData;
	for ( i = 0; i < Irow; i++)
	{
		srcData = patch.ptr<uchar

[2017-04-17 12:20] beru commented on #660
@chibai Please place triple backticks ``` before and after the code block for readability.
https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2017-04-17 12:23] Toby237 commented on #659
Thanks for reply, the Microsoft Visual Studio version I use is 2015.

I am not sure how to make good reproducible code because after I started the MFC project, Visual Studio automatically made a lot of files which depends on each other. However in the bottom of the "stdafx.h" file I put this code:
`#include "tiny_dnn\tiny_dnn.h"`
After I then try to compile I get 106 syntax errors.

I tried to sta

[2017-04-17 12:45] chester256 opened #661 "AVX support problem"
Recently I am using tiny-dnn to do a image classification project but it performs too slow (4900sec per epoch while 30sec per epoch by keras). So I guess maybe it is caused by avx problem. Then I just add this into my code:

`
  core::backend_t bac = core::backend_t::avx;
  net << convolutional_layer<relu>(64, 64, 3, 1, 8, padding::valid, true, 1, 1, bac)
        << max_pooling_layer<identity>(62,

[2017-04-17 13:02] beru commented on #661
You need to add `-DCNN_USE_AVX` to `CXXFLAGS` to use AVX backend.
Please make sure your computer has a processor that supports AVX instructions.

[2017-04-17 13:13] beru commented on #659
Can you post those 106 errors you see on Visual Studio's Output window?
I don't have Windows environment right now so it's hard to reproduce the errors.

[2017-04-17 13:23] chester256 commented on #661
I have added the line:
`QMAKE_CXXFLAGS += -DCNN_USE_AVX`
into my .pro file, but it still occurred the same problem

[2017-04-17 13:37] chester256 commented on #661
Now the problem is:
`error: #error "your compiler does not support AVX"`
I am using gcc 4.8.4, is it too old?... Thanks

[2017-04-17 13:38] beru commented on #661
Did you specify `-mavx`?

[2017-04-17 13:52] chester256 commented on #661
Now I specify `-mavx`. It is faster than before.

[2017-04-17 13:57] chester256 commented on #661
Just one naive question. why the asterisks are displayed vertically when I use the same call back in mnist?
*
*
*
*
*
*
Thank you very much.

[2017-04-17 14:16] beru commented on #661
Your guess is as good as mine.

[2017-04-17 14:16] #661 closed

[2017-04-17 15:02] Toby237 commented on #659
I understand, here are all the errors:

Code	Description	Line
C2146	syntax error: missing ';' before identifier 'rectified_linear'	110
C2143	syntax error: missing ';' before '}'	100
C2143	syntax error: missing ';' before '}'	241
C2143	syntax error: missing ';' before '}'	80
C2143	syntax error: missing ';' before '{'	100
C2143	syntax error: missing ';' before '{'	11
C2143	syntax error: missing ';'

[2017-04-17 16:40] Toby237 commented on #659
I think I got it to work! I had to put the
`#include "tiny_dnn\tiny_dnn"`
 before
 `#include <afxwin.h>`
in the "stdafx.h" file in the MFC.

[2017-04-17 23:56] #659 closed

[2017-04-18 02:10] chibai commented on #660
[code]

[2017-04-19 07:22] pi-null-mezon commented on #660
@chibai you can find it here: https://github.com/pi-null-mezon/OpenIST/blob/master/CMDUtils/ClassNet/cnnclassnet.cpp#L236

[2017-04-19 07:37] pi-null-mezon opened #663 "Training after weights load drops network accuracy"
This question is respect to the latest release v1.0.0.a3. I have found strange behaviour when try to update network weights. I have created a network, then trained it (let's suppose after first training we have got 85.77 % accuracy) and saved it on the hard drive. Ok. Then I have load it, have checked the accuracy on the same data (also have got 85.77 %) and have decide to train another one epoch.

[2017-04-19 07:53] Randl commented on #663
Connected: https://github.com/tiny-dnn/tiny-dnn/issues/567

[2017-04-19 19:05] vekkuli commented on #570
I've been playing around with tiny-dnn and one of my issues was this sudden network collapse.

@beru

I made this modification:
`d[i] = (y[i] - t[i]) / (y[i] * (float_t(1) - y[i]) + std::numeric_limits<float>::epsilon());`
and it seems to help.

The setup is as follows:
[code]

[2017-04-20 06:03] pliptor commented on #663
I think it is interesting to consider this together #616. The issue on weight initialization there is different (weights get reset when new layers are added) but @nyanp explanation on how weights initialization are tracked and handled is a reference. @pi-null-mezon has a great SegNet tool written with tiny-dnn, hopefully this can be solved.

[2017-04-20 08:25] pi-null-mezon commented on #663
@pliptor thanks for the reference. I have to mention in the beginning of the issue that I am using my own serialization code. Thanks to the reference I have found what goes wrong in my code. Now all works as expected to be.

[2017-04-20 08:25] #663 closed

[2017-04-20 12:40] edgarriba commented on #660
@chibai check official opencv implementation for this use case
https://github.com/opencv/opencv_contrib/blob/master/modules/dnn_modern/src/caffe_converter.cpp#L172

[2017-04-20 14:25] karandesai-96 commented on #615
Putting a reminder for myself to explain this after this PR mentioned above gets merged and gives no bugs.

[2017-04-20 14:51] radioman commented on #570
..instead of simplifying things its bloating into uncomprehendable complexity, it seems AI is going in the wrong way... 'training' for weeks for simple enough puzzle looks pretty insane ;/ its far from 'solved'

[2017-04-20 15:22] pliptor commented on #570
@radioman It sure makes us want to revisit simpler things that can get the job done. I've been running different trade-offs with other techniques as well. On the other hand, insanity fuels good research too, so a bit welcome too.

[2017-04-21 10:24] kokostek opened #665 "Turning off bias on conv layer leads to access violation"
Actually, I get this error message while debugging with Visual Studio:
[code]

It happens in `conv2d_op.h` at this line:
[code]
Seems like it is still trying to access bias vector even if its off.

Here is my code with nn initalization, feature loading and prediction:
[code]

[2017-04-21 12:19] zeyuan1987 opened #666 "Could you provide more detailed steps for compiling the examplle from caffe to tiny-dnn ?"
I want to transform a model from caffe to tiny-dnn, but I do not know how to compile the example provided. Could you provide more detailed steps for compiling the examplle from caffe to tiny-dnn ? The steps now are too simple.

[2017-04-22 03:38] pliptor commented on #649
@Polyacene Did you do any other interesting studies?

[2017-04-23 07:21] beru commented on #570
d[i] = (y[i] - t[i]) / (y[i] * (float_t(1) - y[i]) + std::numeric_limits<float>::epsilon());
and it seems to help.

@vekkuli Yes, I did the same thing and there can be an another way to prevent division by zero.
[code]

And I wonder if `cross_entropy::f` method should be taken care of. Because it uses `std::log` function so passing zero should be avoided. But so far, I still haven't faced with thi

[2017-04-23 10:46] zeyuan1987 opened #668 "The output of Caffe and Tiny-dnn with the same model are quite different...."
I test the output probabilitys of a Caffe model and a tiny-dnn model which is transformed from Caffe. But I found the outputs are totally different...

[2017-04-23 10:46] Randl commented on #668
Can you give now information?

[2017-04-24 09:17] Polyacene commented on #649
@pliptor I've been playing a little bit with higher dimensional functions, which turned out to "kind of work". At least I'm now much more comfortable in using tiny-dnn. I found where to look for optimizers in the source code and learned how to use the call-back functions in fit(...).

[2017-04-24 13:48] zeyuan1987 commented on #668
I  used the following code to convert Caffe model to tiny-dnn model. @Randl
 17 void convert(const string& model_file,
 18           const string& trained_file ) {
 19
 20     // load model and weights
 21     auto net = create_net_from_caffe_prototxt(model_file);
 22     reload_weight_from_caffe_protobinary(trained_file, net.get());
 23
 24     // save model, weights, architecture
 25     net->sa

[2017-04-24 17:57] Thanh-Binh commented on #649
Could you share your code for function fit?

[2017-04-25 08:41] Polyacene commented on #649
@Thanh-Binh I've attached, [interpolate.C.txt](https://github.com/tiny-dnn/tiny-dnn/files/954218/interpolate.C.txt), a sample code for fitting, which incorporates suggestions from
pliptor. The main problem in my original version was the choice of the cost function.
The extension to higher dimensional functions is straightforward. Just increase the size of the input vectors.

[2017-04-25 18:29] Thanh-Binh commented on #649
@polyacene thank for sharing your code. Do you have any comparison result: fitting accuracy, how quickly it learns?

[2017-04-25 23:04] pliptor commented on #649
@Polyacene I didn't even know there was a `fit` function support. @Thanh-Binh How complex are the functions you are trying to fit?

[2017-04-26 05:17] Thanh-Binh commented on #649
@pliptor it should be enough complex so that we can approximate/predict a human behavior, e.g how to accelerate or brake at some driving situations

[2017-04-26 09:03] neilldiary opened #670 "No (De)Serialization for some layers ?"
There doesn't seem to be serialization support for the deconv layer, nor the unpooling ones - would it be possible to add this, or this this a know issue ? Seems like the only ones supported currently are those in util/serialization_layer_list.h

[2017-04-26 13:39] Polyacene commented on #649
@Thanh-Binh I've posted one plot before, and I played a little bit. I still havn't performed a systematic study.
Unsurprisingly it looks like a large number of samples and a large number of epochs is needed for
good approximations.
@pliptor One I idea I tried was adding approximations to the function as additional input. But the improvement was not too exciting. I still think this should work some

[2017-04-26 15:31] Polyacene commented on #649
@Thanh-Binh  Note, I just realized that my example code doesn't compile with the latest tiny-dnn version and I can't get it compile. The documented new  way

'''C++

  	using namespace tiny_dnn::layers;

	network<sequential> nn;
  	nn 	<< fully_connected_layer(1, NumHidden) << tanh()
 		<< fully_connected_layer(NumHidden, NumHidden)<< tanh()
 		<< fully_connected_layer(NumHidden, 1)<< tanh();
'''

[2017-04-26 17:07] beru commented on #649
How about removing last `tanh`?

[2017-04-26 17:12] Polyacene commented on #649
@beru It's actually already the first tanh() that makes troubles, as the compiler complains about a conflict with tanh(double).

It compiles with
'''C++

	network<sequential> nn;
  	nn 	<< fully_connected_layer(1, NumHidden) <<  tiny_dnn::activation::tanh()
 		<< fully_connected_layer(NumHidden, NumHidden)<< tiny_dnn::activation::tanh()
 		<< fully_connected_layer(NumHidden, 1)  << tiny_dnn::activ

[2017-04-26 17:31] pliptor commented on #649
@Polyacene I haven't played with it since the API change. Maybe they have changed the way layers are counted. Displaying the network with [this](https://github.com/tiny-dnn/tiny-dnn/blob/master/docs/how_tos/How-Tos.md#visualize-graph-networks) might be helpful.

[2017-04-26 20:47] beru commented on #649
@Polyacene I haven't tested but would this be equivalent with old network?

[code]

[2017-04-27 05:52] Polyacene commented on #649
@beru Then it looks like I get 5 layers. I think I'll prepare a new thread as I'm really confused.

[2017-04-27 06:07] Polyacene opened #671 "New interface for creating Layers"
Recently I started to play with tiny-dnn and I do enjoy the simplicity in using it.
Yesterday I performed an update and realized that the interface for creating layers has changed.

In my test application I used to create layers via
[code]
according to the documentation I found I changed it to

[code]
which happily compiles. Note, I can't just use tanh() as the compiler issues an error on a confli

[2017-04-27 08:36] Polyacene commented on #671
Here I've attached a graph of the above network using ` graph_visualizer viz(nn, "graph"); ` .
![graph](https://cloud.githubusercontent.com/assets/27062506/25474877/136661d6-2b35-11e7-9981-502a8677a601.gif)
Does tanh-activation mean, that it is only the activation type or is it a separate layer wit a 20x20 matrix?
If it's only the activation, should I also place one before the first layer if I wan

[2017-04-27 17:10] karandesai-96 commented on #671
Hi, @Polyacene, a long reply follows:

Nice to hear that, I am a recent contributor and I had the same reason to join :smile:

One is `std::tanh` and another is `tiny_dnn::activation::tanh`. if you intend to use both, you might want to do something like:

[code]
or conversely the same for `std::tanh`, your choice,

`layer<activation>` combinations were a lot in tiny-dnn and we use `cereal` library

[2017-04-27 18:56] Polyacene commented on #671
Dear @karandesai-96 , thanks for your clarifying answer.
Just to be sure.

I thought identity actually means a linear activation performing a scaling the output. As far as I understand your explanation, there's no scaling involved in the output of a fully-connected layer. Can this be achieved?

Out of curiosity, could I now use a tanh ( tanh() ) activation by inserting
`<< tiny_dnn::activation::ta

[2017-04-27 19:06] karandesai-96 commented on #671
Identity was simply following y = x line. Have a look at [linear_layer.h](https://github.com/tiny-dnn/tiny-dnn/blob/master/tiny_dnn/layers/linear_layer.h#L17). I think it fulfills your needs.

Alternatively, if you wish to play more, you can write a custom activation. A detailed step by step guide is outlined [here](https://github.com/tiny-dnn/tiny-dnn/blob/master/docs/developer_guides/Writing-Cus

[2017-04-28 07:44] Polyacene commented on #649
@Beru, @Thanh-Binh Here's a version that compiles and works with the new layout of tiny-dnn.
There's no activation in the input as the convergence was slower.
As clarified by @karandesai-96 the activation does count as a layer now, so everything is fine, except
that one should also specify the input size. Have fun.
[interpolate.C.txt](https://github.com/tiny-dnn/tiny-dnn/files/963704/interpolate.C

[2017-04-28 07:47] Thanh-Binh commented on #649
@polyacene congratulation, i will test it today!

[2017-04-28 07:51] karandesai-96 commented on #649
Also, about the input shape of activation layers, this might help: https://github.com/tiny-dnn/tiny-dnn/pull/639

We are planning to extend for all layers.

[2017-04-28 08:06] Polyacene commented on #649
@karandesai-96 In the following
[code]

the second tanh() works fine, while the first tanh() leads to a crash,
which makes absolute sense as the dimension of it not specified.
It would have to use the dimension of the following layer.
It runs fine if the first `tanh()` is replaced by `tanh(1)`

[2017-04-28 08:24] Polyacene commented on #649
@karandesai-96  I tried more fun stuff, like using 2 different activation functions in an activation layer.

[code]

I might have misunderstood the concept of `concat`, however the error message is interesting:

  what():  layer dimension mismatch!
output size of Nth layer must be equal to input of (N+1)th layer
layerN:   fully-connected in:1([[1x1x1],[1x2x1],[2x1x1]]), out:2([[2x1x1]])
layerN+1:

[2017-04-28 16:31] beru opened #672 ".clang-format"
I'd like to change this one
`AllowShortIfStatementsOnASingleLine: true`
to
`AllowShortIfStatementsOnASingleLine: false`

so that in `tiny_dnn/util/deform.h`,
[code]
will be
[code]

[2017-04-28 16:36] beru commented on #672
Or I'd like to change
`AlignConsecutiveAssignments: true`
to
`AlignConsecutiveAssignments: false`
so that in `tiny_dnn/util/deform.h`,
[code]
will be
[code]

[2017-04-28 16:45] edgarriba commented on #672
I like last one

[2017-04-28 17:05] beru commented on #672
#513 is related

[2017-04-28 18:14] Polyacene commented on #671
@karandesai-96 I looked into linear_layer.h and what I actually would like to use is `layers::linear() << tiny_dnn::activation::tanh()` .
To start I tried to fit a linear function with `layers::linear`. If I initialize it with the solution it works fine.
However, it looks that the scaling and and shifting is not subject to the optimization. Is this intentional or am I'm missing something?

[2017-04-28 18:27] karandesai-96 commented on #671
Right, scaling and shifting are not learnable parameters yet. So this layer is basically like existing activation layers. Thanks for the idea, now we can think of enhancing it!

[2017-04-28 18:29] karandesai-96 commented on #649
I know this 2 != 2 reason, I had it in my mind to fix it, but forgot later. Thanks for reminding.

You probably misinterpreted concat layer. It concatenates inputs. The network architecture you write, seems like concat layer should have been a `slice` layer instead.

[2017-04-28 18:55] Polyacene commented on #671
@karandesai-96 I think for projects trying to fit functions instead of classifying categories this could be really useful.

[2017-04-28 19:34] kirill-pinigin opened #674 "Saving graph model neural network doesn't work"
I can't save my pre-trained  graph model net to binary or json format.
[code]

Thrown exception!
[code]

[2017-04-29 14:34] dlunion opened #676 "How to design the Multiple softmax output layers of the network, where there is a corresponding case, I always get error failure."
How to design the Multiple softmax output layers of the network, where there is a corresponding case, I always get error failure.  3qs.

[2017-04-30 08:10] Randl commented on #674
`(in1, in2) << concat;` is invalid until https://github.com/tiny-dnn/tiny-dnn/pull/662 is merged

[2017-04-30 08:23] Randl commented on #634
ping @nyanp

[2017-04-30 08:24] Randl commented on #665
Same code with biases works, right?

[2017-04-30 08:26] Randl commented on #668
Can you provide full reproducible example so I could try to run it on my PC?

[2017-04-30 08:27] Randl commented on #670
Unfortunately, deconv layers are not fully functional (really buggy) as for now.

[2017-04-30 08:34] kokostek commented on #665
Yes, it does.

[2017-04-30 13:26] neilldiary commented on #670
Ah, I didn't realize this - is there any further information on that ? I've been playing around with them and had some sensible looking results doing autoencoding ...

[2017-04-30 17:10] kaishijeng opened #678 "compilation error with greentea libdnn and opencl enabled"
I have compiled and installed libdnn from github and got the following errors:

tiny-dnn/tiny_dnn/core/kernels/conv2d_op_libdnn.h:227:5: error: 'LibDNNConfig' is not a member of 'greentea'
     greentea::LibDNNConfig config;

/tiny-dnn/tiny_dnn/core/kernels/conv2d_op_libdnn.h:229:5: error: 'config' was not declared in this scope
     config.dev_ptr = dev_ptr_.get();

Any idea?

Thanks

[2017-04-30 21:57] #146 closed

[2017-04-30 21:57] #578 closed

[2017-04-30 22:31] edgarriba commented on #678
https://github.com/naibaf7/libdnn/issues/3#issuecomment-298261467 related

[2017-04-30 22:37] edgarriba opened #680 "Update LibDNN with Pooling and Deconvolution, check versions"
LibDNN now supports pooling and deconvolution, we need to update.
We should be able to check versions at compilation time.

https://github.com/naibaf7/libdnn/issues/3 related

/cc @Randl subscribe to the thread

[2017-04-30 22:46] edgarriba commented on #670
@neilldiary did you take a look at this example?
https://github.com/tiny-dnn/tiny-dnn/tree/master/examples/deconv

[2017-04-30 22:50] edgarriba commented on #668
@karandesai-96 you been playing with models right? could you also re-check this?

[2017-04-30 22:55] edgarriba commented on #674
@kirill-pinigin could you check again?

[2017-04-30 23:27] zeyuan1987 commented on #668
Thanks. I have that the recent version is right for the converting example. I used 1.0.3a to have the dismataching problem.

[2017-04-30 23:28] zeyuan1987 commented on #666
I have compiled this successfully.

[2017-05-01 01:25] karandesai-96 commented on #578
@Abello966 please pull from latest upstream and test your code, it should work now :smile:

[2017-05-01 02:17] Abello966 commented on #578
@karandesai-96 will do! thanks a lot! Hope I could be of some assistance in this

[2017-05-01 02:24] karandesai-96 commented on #578
@Abello966 your code snippet and diagram served as a good reference!

[2017-05-01 05:59] neilldiary commented on #670
Indeed - and this seemed to be doing something sensible, hence my confusion over the comment that the deconv layer is really buggy/not functional ...

[2017-05-01 06:38] Randl commented on #668
Can we close it?

[2017-05-01 06:47] #666 closed

[2017-05-01 06:47] #668 closed

[2017-05-01 07:49] chester256 opened #682 "Cannot train mlp"
I am constructing an MLP classifier based on tiny-dnn. There are four classes and each data point is 1 by 40. The data set is generated by opencv using BoW algorithm and is stored in .yml files. Firstly I convert the opencv Mat to tiny-dnn vector. Then throw the data into MLP. However, I met an error:
[code]
When I add the handle error API provided by Tiny-dnn, I got this trace back:
[code]
I am s

[2017-05-01 10:03] bhack commented on #670
Cause we never finalized https://github.com/tiny-dnn/tiny-dnn/issues/560

[2017-05-01 10:55] bhack commented on #680
Probably we need to monitor also https://github.com/sh1r0/caffe-android-lib/issues/23#issuecomment-297551092 for ARM gpu.. Will be integrated in upstream libdnn?

[2017-05-01 11:37] chester256 commented on #682
I am sorry for the stupid question. I have figured out that the problem is because of the typo.
[code]
in the outer for loop, it should be i < .rows not cols.

[2017-05-02 04:05] kaishijeng commented on #678
Will this likely be fixed in next couple days?

Thanks,

[2017-05-02 04:08] kirill-pinigin commented on #674
Спасибо большое)) а долго ждать данного мерджа? 30.04.2017, 11:11, "Evgeniy Zheltonozhskiy" <notifications@github.com>:(in1, in2) << concat; is invalid until #662 is merged

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-02 07:00] kirill-pinigin commented on #674
unfortunately, same exception has been thrown.  In both cases of usage  MSVC compiler  and g++!

[2017-05-02 16:34] edgarriba commented on #674
ping @karandesai-96

[2017-05-02 16:34] edgarriba commented on #682
@chester256 ok, so can we close this?

[2017-05-02 16:46] chester256 commented on #682
@edgarriba Yes. Thank you

[2017-05-02 17:04] #682 closed

[2017-05-03 02:40] kirill-pinigin commented on #674
edgarriba, I can,t understand . What are  you mean?  I 've cloned karandesai-96 branch tiny-dnn  and built, but I  have same result and same exception.

[2017-05-04 00:47] shivak7 opened #684 "Converting multiple std::vector<vec_t> to std::vector<tensor_t>"
I am trying to modify my sequential NN network to a graph network that takes in two input images and converges at the first fully connected layer. I was unable to find any clear examples for loading multiple inputs. Is there a way to convert multiple vec_t vectors to a single tensor_t vector?

[2017-05-04 06:47] #660 closed

[2017-05-04 11:21] shivak7 commented on #684
So I manged to push 2 vec_t elements into a tensor_t per training sample. That seems to work fine. But then when I try to do training:
`net.train<tiny_dnn::cross_entropy>(opt, Data, Labels, 20, 30, []() {}, [&]()...`

 Here Data is a tensor_t object and Labels is a label_t object, I get compilation errors saying there are no matching function calls:

`candidate: template<class Error, class Optimiz

[2017-05-04 11:52] shivak7 commented on #684
So I went through network.h and realized the only option I ever had was to use fit instead of train and it compiles. But I wonder if this is ok because I am only using single value class labels.

Also, the test function now throws similar errors as above. How would one test with std::vector<tensor_t> type inputs?

[2017-05-04 18:23] shivak7 commented on #684
I tried training in the mean time using the graph structure shown here. But I get a segfault. Backtracing gives me this. Does the fit function crash if one uses labels instead of vectors?

 0x0000000000419c89 in tiny_dnn::layer::out_data_size (this=0x7fffffffadb0) at ./tiny_dnn/layers/layer.h:133
#2  0x00000000004ad22b in tiny_dnn::nodes::out_data_size (this=0x7fffffffdd00) at ./tiny_dnn/nodes.h:1

[2017-05-05 00:37] mypython3 opened #686 "Hi, when I use cnn in video and meet with "network dimension: 1024(conv:[[32x32x1],[5x5x6],[1x1x6]])""
but I try to find out  one picture with digit in video ,I still face this problem.

[2017-05-05 01:14] shivak7 commented on #684
So I have traced the problem down to:
**normalize_tensor(desired_outputs, output_tensor)** which calls:
**net_.label2vec(inputs, vec)** which calls:
**label2vec(&labels[0], static_cast<serial_size_t>(labels.size()), vec)** @ nodes.h L194
which calls:
**serial_size_t outdim = out_data_size()** @nodes.h L181, the debugger prints outdim = 32767!!!
Finally **out_data_size()** @ layer.h L133 calls sumi

[2017-05-05 01:30] beru commented on #684
@shivak7 Can you post minimum reproducable code & data so that I can debug.

[2017-05-05 02:39] shivak7 commented on #684
@beru Sure. I'll try to get you a minimal code and a data set.
In the meantime I wanted to ask how would one typically train/test a graph network with multiple input branches? I noticed that only the fit function even allowed tensor_t inputs. Train and the test functions do not.

[2017-05-05 03:26] shivak7 commented on #684
@beru I have condensed the code into a single file and am attaching it here.
Unfortunately my dataset (65MB) is organized in a way that makes it difficult to reduce, so I am providing a link to the data files that will expire in 2 days:https://expirebox.com/download/ee50b4a122967dc6f91071c5dfda7dcb.html

Note that all the data folders should be in the same directory as example.cc

Hope this helps.

[2017-05-05 09:26] mypython3 commented on #686
someone can help me?

[2017-05-05 20:00] beru commented on #684
@shivak7 The layer instances created on stack memory in `Arch2Branched` can't be accessed later so I changed them to global variables.
[example.cc.zip](https://github.com/tiny-dnn/tiny-dnn/files/980167/example.cc.zip)

[2017-05-05 22:26] shivak7 commented on #684
@beru Thanks! I'll try debugging it a bit more... Did you find anything else that may indicate the segfault?

[2017-05-05 23:07] shivak7 commented on #674
I am noticing the same issue with my code as well. Saving graph networks after training still leads to the same exception error with the latest version.

[2017-05-06 03:57] karandesai-96 commented on #674
I will try to reproduce this bug and get back here once I find something interesting.

[2017-05-06 04:01] beru commented on #674
Serialization of `average_unpooling_layer`, `deconvolutional_layer`, `input_layer`, `quantized_convolutional_layer`, `quantized_deconvolutional_layer`, `quantized_fully_connected_layer` layers are still not supported yet.

[2017-05-06 04:02] karandesai-96 commented on #674
Oh I didn't know about input layer.

[2017-05-06 04:36] shivak7 commented on #674
Is there a temporary makeshift way for saving and loading trained weights of graph networks for now?

[2017-05-06 04:58] beru commented on #674
@shivak7 If you have the source code of graph networks, you don't need to load it from a file since you can construct the network.

You can load and save weights with
[code]
routines inside `tiny_dnn/network.h` file.

[2017-05-06 07:54] Randl opened #689 "Fix random fails of appveyor tests"
For example
https://github.com/tiny-dnn/tiny-dnn/pull/679
https://github.com/tiny-dnn/tiny-dnn/pull/557

[2017-05-06 11:31] shivak7 commented on #684
I just realized what you meant in your previous comment. Maybe if a pseudo root-node is created above the first input layers in a tree structure (for graphs), it should still be possible for each layer to have arrays of generic base class layer pointers to handle branching in-out. Would the layer instances be accessible then if defined and linked together locally in a function?

[2017-05-06 13:13] beru commented on #684
I'm not sure of clever and simpler ways to let the library manage ownerships of graph network nodes.

[2017-05-06 13:50] Randl commented on #689
https://ci.appveyor.com/project/tinydnn/tiny-dnn/build/master-852/job/9ry4twox1e48nqvl
https://ci.appveyor.com/project/tinydnn/tiny-dnn/build/master-1028/job/l28f2eu4eabattx1
https://ci.appveyor.com/project/tinydnn/tiny-dnn/build/master-1032/job/r28nmme04bbga9rf

[2017-05-07 08:17] beru commented on #355
FP16 support is appealing since it halves data size and required bandwidth.
But I think there're several obstacles.

- Std C++ language spec doesn't support Short Float type, maybe from C++20. https://github.com/opencv/opencv/issues/8428#issuecomment-291758060
- Currently, tiny-dnn's `float_t` type can be either `float` or `double`. If possible, tensor_t storage should support FP16 type with somet

[2017-05-07 08:26] Randl commented on #355
@beru yeah the proposal exists http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2016/p0192r0.pdf hopefully will make it to next C++ standard. Implementing FP16 support without it is kinda optimistic I think -_-

[2017-05-07 08:30] Randl commented on #686
Can you elaborate with code and detailed description of the problem

[2017-05-07 08:43] beru commented on #355
@Randl Yes, the most recent is probablly `P0192R1`.

Even if standard will adopt the short float type in the future, it will be hard to write programs without the support of Numerics library. And it takes some time for compilers and libraries vendors/implementors will ship their products. And this library is for `C++11` that means we can't rely on the new std for a while.

But boosting inference p

[2017-05-07 08:58] mypython3 commented on #686
It's done. Thank you

[2017-05-07 08:59] #686 closed

[2017-05-07 09:10] Randl commented on #28
Yes it definitely could be a reason

[2017-05-07 09:10] #28 closed

[2017-05-07 09:10] Randl commented on #30
No reply, closing

[2017-05-07 09:10] #30 closed

[2017-05-07 09:13] Randl commented on #35
No reply, closing

[2017-05-07 09:13] #35 closed

[2017-05-07 09:13] Randl commented on #41
No reply, closing

[2017-05-07 09:13] #41 closed

[2017-05-07 09:13] Randl commented on #42
No reply, closing

[2017-05-07 09:13] #42 closed

[2017-05-07 13:38] beru commented on #689
I've confirmed this issue is reproducible with `tiny_dnn_test`.

[2017-05-07 14:34] beru commented on #689
It seems random fails don't occur with `-DUSE_AVX=OFF` cmake setting.
So I suspect the problems lie within AVX conv fprop/bprop routines.

[2017-05-07 16:25] Randl commented on #689
@beru one more https://github.com/tiny-dnn/tiny-dnn/pull/692#pullrequestreview-36668020

[2017-05-07 18:05] beru commented on #689
The random unit test failures disappear with `#define CNN_SINGLE_THREAD` and tests run a lot faster.

[2017-05-08 00:23] naibaf7 commented on #355
@beru LibDNN is and OpenCL Caffe is scheduled to receive broad FP16 support in approx. September (I have a project planned for that), so maybe tiny-dnn can also profit from it after that.

[2017-05-08 06:10] Chenly1993 opened #695 "U"

[2017-05-08 06:12] #695 closed

[2017-05-08 06:27] Chenly1993 opened #696 "Use active function relu ,and the out is all nan."
Now I want  to learn a vector from a picture. Because the output is a vector, I use fit() to train and the loss function is cross_entropy. And I need to use relu as the active function for all layers. But the output is all not an number. I don't know how to solve the problem. Who can help me？Thanks a lot！
![Uploading 图片1.png…]()

[2017-05-08 06:44] Chenly1993 commented on #696
![1](https://cloud.githubusercontent.com/assets/28524540/25793038/c655340a-33fc-11e7-97c8-8b6cb9f284bb.png)

[2017-05-08 06:44] Chenly1993 commented on #696
![2](https://cloud.githubusercontent.com/assets/28524540/25793063/e35a6b10-33fc-11e7-8a3d-831e2d0fcfa4.png)

[2017-05-08 06:50] Randl commented on #696
Can you provide some code?

[2017-05-08 06:53] Chenly1993 commented on #696
`#include <iostream>
#include <stdlib.h>
#include <stdio.h>
#include <string>
#include <algorithm>
#include <fstream>
#include "tiny_dnn/tiny_dnn.h"
#include <opencv2/imgcodecs.hpp>
#include <opencv2/imgproc.hpp>
#include <boost/foreach.hpp>
#include <boost/filesystem.hpp>
#include <boost/algorithm/string/classification.hpp>
#include <boost/algorithm/string/split.hpp>

using namespace boost::files

[2017-05-08 06:53] Chenly1993 commented on #696
This is all my code!

[2017-05-08 06:54] Chenly1993 commented on #696
I need to use relu. And if I use tanh, the loss is still **nan**.

[2017-05-08 08:18] bhack commented on #696
@Randl If it is not a bug can we move on stackoverflow? Cause here support replies and knowledge base will be lost.

[2017-05-08 08:18] bhack commented on #696
We have already a specific tag to feed http://stackoverflow.com/questions/tagged/tiny-dnn

[2017-05-08 15:54] hellbago opened #697 "problem in changing the number of threads while training"
I'm trying to change the number of threads for training my model, changing the value of the macro CNN_TASK_SIZE in config.h of calling the function train with the parameter for the number of thread setted. I'm doing something wrong. Is it the wrong procedure for using a predefined number of threads?
@edgarriba @beru

[2017-05-08 20:57] nyanp commented on #634
Something went wrong from #154. validation.size() is always 1, so outer for-loop is meaningless... I will fix it. @tomjaguarpaw Thank you for your reporting :)

[2017-05-09 02:00] niitsuma opened #700 "sparse matrix operation using viennacl"
This project uses CLCudaAPI for GPU computation.
However,  CLCudaAPI does not have sparse matrix operations.
viennacl (or vecxl) has sparse matrix operations(QR decomp etc).
viennacl also has python interface: pyvinnacl.

I think using viennacl is better way for GPU computation.

[2017-05-09 12:38] Randl opened #702 "Add Visual Studio 2017 tests to AppVeyor"
Since we stick to "last two versions support" (at least for VS), and VS2017 is supported by AppVeyor, we should add it to testing environments.

[2017-05-09 12:47] oberndorferc opened #703 "Extreme learning machines: Hidden layer randomly assigned and never updated"
Hello all,

is it possible to define a hidden layer with randomly assigned values/weighs where never get any updates? Behind this, i train a fully connected layer. I want to use it for a concept called extreme learning machines. (https://en.wikipedia.org/wiki/Extreme_learning_machine)

Regards Christoph

[2017-05-09 21:15] Randl commented on #689
Probably fixed in #694

[2017-05-09 21:15] #689 closed

[2017-05-10 18:21] #634 closed

[2017-05-11 01:54] darktrial opened #704 "make_mlp doesn't accept tanh as its activation function"
Compilation errors shows
`simple.cpp:17:15: error: parse error in template argument list
  auto mynet = make_mlp<tanh>({ 32 * 32, 300, 10 });`

[2017-05-11 04:20] marty1885 commented on #700
Just wondering. Since tiny-dnn's internal engine is basically C code(not much OOP feature is used, at least that's what I feel when I look at the code). Can we just port them to OpenCL?

[2017-05-11 07:45] #671 closed

[2017-05-11 08:58] nishnik opened #705 "Activation Functions"
I see that some activation functions are not implemented.
Like:
- SoftPlus
- SoftSign

Can I go on implementing it ?

[2017-05-11 09:10] Randl commented on #705
Sure

[2017-05-11 11:42] kirill-pinigin opened #708 "void label2vec (const label_t *t, serial_size_t num, std::vector<vec_t> &vec) Asserttion!"
std::vector<label_t> prepareLabels(const int num, const  label_t  label)
{
	std::vector<label_t> result;
	for (int i = 0; i <num; ++i)
		result.push_back(label);
	return result;
}

std::vector<vec_t> ConvertImage(const std::string & filename)
{
	cv::Mat bigImage = cv::imread(filename, cv::IMREAD_GRAYSCALE);
	const int batchSize = 32;
	cv::Size smallSize(batchSize, batchSize);
	std::vector<cv::Mat>

[2017-05-11 11:42] #674 closed

[2017-05-11 11:44] bhack commented on #700
/cc @edgarriba

[2017-05-11 17:04] edgarriba commented on #700
@marty1885 CLCudaAPI has two main advantages which makes everything more abstract
- high level routines to deal with OpenCL and Cuda engines
- same interfaces to call OpenCL and Cuda kernels

But anyways, @niitsuma @marty1885 if you have better approaches to show we are open to discuss. Contributions are always welcomed. Just be aware that @Randl will be working on that during the summer. Let him

[2017-05-11 17:05] edgarriba commented on #708
what's the assertion?

[2017-05-11 17:07] edgarriba commented on #704
/cc @karandesai-96

[2017-05-12 00:31] MasterOfMemroy commented on #704
It's not a bug: The wiki might be wrong. Try using `tan_h` instead of `tan`.

[2017-05-12 02:32] kirill-pinigin commented on #708
assert(t[i] < outdim);

[2017-05-12 02:39] kirill-pinigin commented on #708
sometimes in  this example I catch exception

pointer allocate(size_type size, const void * = nullptr) {
    void *p = aligned_alloc(alignment, sizeof(T) * size);
    if (!p && size > 0) throw nn_error("failed to allocate");
    return static_cast<pointer>(p);
  }

[2017-05-12 02:44] karandesai-96 commented on #704
@MasterOfMemroy the wiki is slightly outdated. @darktrial are you putting `using namespace tiny_dnn::activation` in the file? Because mine works properly on latest master.

[2017-05-12 03:25] kirill-pinigin opened #709 "fail of allocation"
std::vector<label_t> prepareLabels(const int num, const label_t label)
{
std::vector<label_t> result;
for (int i = 0; i <num; ++i)
result.push_back(label);
return result;
}

std::vector<vec_t> ConvertImage(const std::string & filename)
{
cv::Mat bigImage = cv::imread(filename, cv::IMREAD_GRAYSCALE);
const int batchSize = 32;
cv::Size smallSize(batchSize, batchSize);
std::vectorcv::Mat smallImages;

[2017-05-12 03:44] darktrial commented on #704
sorry it is my mistake. It is working fine.  Putting a `using namespace std` will cause this error if you don't modify the code in wiki.

[2017-05-12 03:44] #704 closed

[2017-05-12 04:42] karandesai-96 commented on #704
Yes, there will be a conflict due to same names.

[2017-05-12 04:52] karandesai-96 commented on #704
Yes, there will be a conflict due to same names.

[2017-05-12 07:44] weiyu322 opened #710 "how to build examples with g++/linux"
how to build examples with g++/linux

[2017-05-12 11:44] kirill-pinigin commented on #709
also  I want to notice  this problem  is actual only in graph model of neural net!! When I use sequential model  I don't have this problem

network<sequential> net;
	//layers::input in(shape3d(32, 32, DIM));
	convolutional_layer conv(32, 32, 7, 7, DIM, 400 * DIM, padding::valid, true, 1, 1);
	average_pooling_layer av_p(26, 26, 400 * DIM, 2, 2, 2, 2, padding::valid);
	max_pooling_layer max_p(26, 26

[2017-05-12 13:23] hellbago commented on #697
Any suggestion?

[2017-05-12 17:32] beru commented on #355
@naibaf7

Sounds great! I've just checked Greentea LibDNN code but couldn't find `cl_khr_fp16` in
https://github.com/naibaf7/libdnn/blob/5a78b3e378cd042184eeb91fa6093875f9d12c5d/src/libdnn.cpp
So both of LibDNN and OpenCL Caffe are scheduled to have FP16 support in the future?
Or yet to be released LibDNN has already supported FP16?

[2017-05-12 17:38] Randl commented on #672
The issue is partially fixed in clang-format-5.0

[2017-05-13 00:44] naibaf7 commented on #355
@beru
Yes it's in development, however I currently lack good testing hardware to go further, such as AMD Vega.
Therefore the schedule for September.

[2017-05-13 03:01] zfs1993 opened #711 "I meet a problem when i test the tiny-dnn with the main in file which named examples"
i build a project with vs2013,and i replace the source file with the main in the examples file.Then i compile it,but there is a lot of errors.one of it is “tiny_dnn::tanh_layer::tanh_layer:there is no overload function to accept three parameters”,and there are many problems about tanh_layer.I just work on it for several days，and i didnt find the problems,

[2017-05-13 04:38] weiyu322 commented on #711
i got the same problem with vs2013,vs2015 is fine

[2017-05-13 11:37] Randl commented on #711
VS2013 isn't supported anymore

[2017-05-13 11:37] #711 closed

[2017-05-13 14:33] Randl commented on #710
Have you checked readme? https://github.com/tiny-dnn/tiny-dnn#build

[2017-05-13 14:44] Randl commented on #709
The following code runs ok at my PC both with and without AVX:
[code]

[2017-05-13 14:47] Randl commented on #665
Can you provide sample image and also full compiling example?

[2017-05-13 15:51] mypython3 opened #712 "Output 9 digital pictures"
How can i output 9 digital pictures without zero and need to change  something ?

[2017-05-13 17:57] beru commented on #355
@naibaf7 It must be really cozy to stay warm with XX-XXX TFlops computers in winter season.

@Randl Let's support FP16 and integer types for storage type.
I think it should be dynamically configurable for flexibility, **not** via `typedef double|float float_t`.
It would be hard to implement all the kernels for basic types, so automatic type conversion mechanism will be needed.

[2017-05-13 18:03] naibaf7 commented on #355
@beru Yes even a mobile GPU with XXX GFlops makes for a good hand-warmer in winter *hint hint*

[2017-05-14 03:12] Randl commented on #712
can you elaborate a bit more?

[2017-05-14 03:32] mypython3 commented on #712
I just wanted to identify the number from 1 to 9 without 0, I changed the fully_connected_layer's parameters and found that I couldn't train this model.

[2017-05-14 03:37] Randl commented on #712
which dataset did you use? Which model?

[2017-05-14 04:01] mypython3 commented on #712
I use my own  dataset , I just want to train out this model which can identify the number from 1 to 9 without 0 ,  I  just change fully_connected_layer<tan_h>(120, 10)  to fully_connected_layer<tan_h>(120, 9)

[2017-05-15 03:02] kirill-pinigin commented on #709
Randl, what is your operating system? How are you think ? Where can I find this exception? if you don't confirm this case?

[2017-05-15 03:11] kirill-pinigin commented on #709
![image](https://cloud.githubusercontent.com/assets/27665392/26041399/b6258bfc-3956-11e7-896a-c407b068c6c6.png)

[2017-05-15 03:12] kirill-pinigin commented on #709
![image](https://cloud.githubusercontent.com/assets/27665392/26041436/fb1a1f34-3956-11e7-83e6-869f20300629.png)

[2017-05-15 03:13] kirill-pinigin commented on #709
![image](https://cloud.githubusercontent.com/assets/27665392/26041444/0d9f230c-3957-11e7-8c29-7758e2962cbd.png)

[2017-05-15 03:17] kirill-pinigin commented on #709
Do you use OpenCL ?What  the options of cmake do you use?

[2017-05-15 05:03] Randl commented on #709
I don't have visual studio, so I can't help much. It seems to be platform dependent.
cc @beru

[2017-05-15 05:38] kirill-pinigin commented on #709
Randl, yes you are right !  I check this example in Ubuntu 16.04.02  And it is works.

[2017-05-15 12:07] beru commented on #709
@Randl I don't always have Windows PC, so can't be of helf right now.

[2017-05-17 02:10] marty1885 opened #714 "Fully connected layer runs (much) slower if parallelization is on"
Hello. I found that turning off parallelization in fully_connected_layer by setting `ctx.setParallelize` to false in `fully_connected_layer.h` makes it run faster.
Epoching a MLP of size 1024, 784, 120, 10 against MNIST(by modifying the example code) takes 67s with parallelization on and 63.17 when parallelization is off.
Further more, training a MLP of size 60, 60, 60, 60, 15, 1 against 14000 inp

[2017-05-17 06:11] Randl commented on #714
[code]

This can be considered as an example for second network you mentioned? Which activation and backend were used?

[2017-05-17 10:18] kirill-pinigin opened #715 "Usage of lrn_layer"
local response normalization layer?  how  to correctly use this layer in neural net? Please<, provide examples.  This layer don't have back_propagation support!

[2017-05-17 10:35] Polyacene commented on #714
@marty1885 @Randl  I just checked that I have a similar  issue on a 71 x 251 x 64 network.
The code runs faster when compiled with
`g++ -O3 -march=native -pthread -std=c++11`
compared to
`g++ -O3 -march=native -fopenmp -std=c++11`
Note that in the first version I only get a 100% load, while the second goes up to a 800% load.

In config.h I enabled
[code]

[2017-05-17 10:47] Polyacene commented on #714
@marty1885 @Randl I checked my simple interpolation example [interpolate.C.txt](https://github.com/tiny-dnn/tiny-dnn/files/1007426/interpolate.C.txt), and there you observe a similar behavior.
The single threaded version takes as long as the multi-threaded one with 8 threads, while the multithreaded
version with one thread is significantly slower.

[2017-05-17 14:47] marty1885 commented on #714
@Randl I got the permission to share the network now. I constructed it as so.
[code]

@Polyacene @Randl
I get a different behavior. 160% load with both OpenMP and pthread while TBB has 700% load.
However event with TBB utilizing all cores. It is still 3.4x slower than not paralleling.

My test results on training my MPL with 14000 input data with 1 epoch.
Single thread: 0.26s
OpenMP/pthread: 4.419

[2017-05-17 16:39] Randl commented on #714
@marty1885 Which parameters do you use? Can you share minimal working example? As for now, changing number of threads from 8 to 1 doesn't change run time significantly

[2017-05-17 22:30] edgarriba commented on #672
should we update codes with clang-format-5.0 ??

[2017-05-17 23:52] bhack commented on #715
Is a duplicate of https://github.com/tiny-dnn/tiny-dnn/issues/307#issuecomment-249401012  /cc @karandesai-96 @nyanp

[2017-05-18 07:02] Randl commented on #672
If everyone is ok with it, we should

[2017-05-18 10:20] kirill-pinigin commented on #307
What is reason? Why are you don't use lrn layer? In Backpropagation ?

[2017-05-18 11:04] bhack commented on #672
Ok

[2017-05-19 01:08] marty1885 commented on #714
@Randl Sorry I can't. It's a private dataset for medical research. I'll try to create a dataset that has the same behavior.

[2017-05-19 01:20] Randl commented on #714
@marty1885 no need of dataset, just a code, for the beginning

[2017-05-19 18:21] beru commented on #714
There is a method to set parallelity of layer/node operations `layer::set_parallelize`
Many layers don't check `layer::parallelize_` member and `for_i` function isn't used throughout the library. `fully_connected_layer` uses it though.

I wonder if there's a magical way to decide whether to parallel or not... It might be possible to do so with  Feedback-Directed Optimization... in theory.

[2017-05-20 04:34] marty1885 commented on #714
@Randl
Here.
To run it. Please prepare a CSV with 61 columns and the first one name "targetAttribute".
https://gist.github.com/marty1885/25058ca1fcedd11926dd6ff0cfb6db50
The CSV parser in the example code is from [here](https://github.com/MyBoon/CSVparser).

I have also tested to build using clang 4.0.
pthread: 4.3s
opnemp: 4.6s
TBB: 1.07s
parallel off: 0.28s

@beru
But weather to parallel or not

[2017-05-20 16:15] blackccpie opened #718 "Help needed training mnist lenet5 inspired topology"
Hi, I've started working on an mnist training app, based on tiny-dnn's mnist example code, an trying to reproduce this network topology : [keras-cnn-inspired-by-lenet-5](https://www.kaggle.com/ftence/keras-cnn-inspired-by-lenet-5/code/code).
My app source code is [here](https://github.com/blackccpie/tiny-brain/tree/master/apps/mnist_autotrain), but I'm facing some issues trying to make training co

[2017-05-20 16:29] Randl commented on #718
have you tried reducing learning rate?

[2017-05-20 16:47] blackccpie commented on #718
not yet, I started experimenting with the same adamax initial learning rate as keras, that is  [0.002](https://keras.io/optimizers/#adamax). I'm gonna have a few tries with lower ones.

[2017-05-21 00:41] nyanp commented on #307
@kirill-pinigin
It is just because there was no time to implement back-propagation. Contribution is always welcome :)

[2017-05-21 05:57] l0I0I0l opened #720 "Differenct Results (MNIST) between two versions (TinyDNN)"
I was running a modified MNIST CNN example.
Find different results.
Old version: **tiny-dnn-master-2016-09-22**
New version: **tiny-dnn-master-2017-05-20**
Both use **AVX** kernels of Tiny DNN.

**Problem is**: I run them several times, all show that **old version** have **much better accuracy**!
Enabling avx/multithreading may have slightly better results but same conclusion!

It seems that both

[2017-05-21 07:08] beru commented on #714
@marty1885

That sounds right.

If people need to use multiple platforms after building softwares with the library, loading or configuring layer parallelity would may be helpful.

Since we can load network configuration from a file and there is `layer::set_parallelize` method, it can be possible to write a software to search near optimal parallelize settings for the library.

And in the library's

[2017-05-21 10:53] beru commented on #720
Can you post git SHA-1 hashes for `tiny-dnn-master-2016-09-22` and `tiny-dnn-master-2017-05-20` please?

[2017-05-21 14:02] l0I0I0l commented on #720
For the version `tiny-dnn-master-2016-09-22`:
It is same to use version 1.0.0 alpha1 - the first major version for tiny-dnn
@nyanp nyanp released this Sep 14, 2016
And is the "git SHA-1" the commit `afb8f6d79fed6f8734c6edc532f8dfadfd0e41e7`?

For `tiny-dnn-master-2017-05-20`: just get the current master version.
Any recent version should be same. Can be commit `72fcbfc312c35b96d651c89e170f2493a6de

[2017-05-21 14:21] beru opened #721 "n_threads parameter of network::train method isn't used"
Call graph
[code]

[2017-05-21 15:40] marty1885 commented on #714
Weird. Now I got 0.8s per epoch on my MPL with OpenMP and GCC.
Also I found that using SPMD pattern in for_i for OpenMP make things a lot faster (4.5s vs 0.25s).

[2017-05-21 21:34] dgomezurita commented on #394
same problem

[2017-05-22 07:02] pliptor commented on #720
How much variation do you see by setting a different initial random seed? I think if there was even a change or reordering of loops somewhere in the algorithms results would not match but hopefully statistically the average would be maintained. Where you using double precision before and now single precision?

[2017-05-22 09:43] xingyunbing opened #723 "2 Bugs"
1, In the tiny-dnn-1.0.0a3\tiny_dnn\util\util.h
Function:
inline void fill_tensor(tensor_t& tensor, float_t value, serial_size_t size);
It seems to be no fill in the specified value at the original location (fill in the specified value at the padding location)
2, In the tiny-dnn-1.0.0a3\examples\main.cpp
When I run sample4_dropout(), I find that back_propagation of dropout_layer has bug.
In the ti

[2017-05-22 14:21] makonyik opened #724 "fully-connected network, strange(?) behaviour"
I embedded one of the examples to create a executable:

#include <iostream>
#include "tiny_dnn/tiny_dnn.h"

using namespace tiny_dnn;

int main(){
  network<sequential> net;
  adagrad opt;
  net << fully_connected_layer<relu>(2, 3)
      << fully_connected_layer<relu>(3, 4);
  net.weight_init(weight_init::lecun());
  net.init_weight();

  std::vector<vec_t> input_data    { { 1, 0 }, { 0, 2 } };

[2017-05-23 06:53] l0I0I0l commented on #720
It depends on data. Close this issue.
shuf10 = shuffle the training data for 10 rounds.
[code]

[2017-05-23 06:54] #720 closed

[2017-05-23 13:16] blackccpie commented on #718
Still no luck trying lower learning rates. My feeling is that it may come from exploding gradients, due to the cross entropy multiclass formulation `-t[i] / y[i]`, where `y[i]` may turn very small.
I saw people using simplified gradient formulation for the cross entropy with softmax use case, like in this [article](http://peterroelants.github.io/posts/neural_network_implementation_intermezzo02), t

[2017-05-23 13:56] beru commented on #718
There's a similar problem with `cross_entropy::df` method in `tiny_dnn/lossfunctions/loss_function.h`.
https://github.com/tiny-dnn/tiny-dnn/issues/570

[2017-05-24 06:57] shimiaoli opened #725 "Raspberry Pi example needed"
Is there any successfully built example for Raspberry Pi platform ?
I tried to build a tiny-dnn  roject on Raspberry Pi , but the system hangs during compilation.

Thanks.
Best Regards
Shimiao

[2017-05-24 09:07] mrgloom commented on #640
According to links[[1](https://github.com/tiny-dnn/tiny-dnn/wiki/Comparison-with-other-libraries),[2](https://github.com/tiny-dnn/tiny-dnn/wiki/GSoC-2017)] tiny-dnn can load Caffe models, so maybe we can convert model like Keras->Tensorflow->Caffe?

Keras->Tensorflow
https://github.com/amir-abdi/keras_to_tensorflow
Tensorflow->Caffe (?)
Seems some work can be done based on this but in reversed ord

[2017-05-24 12:49] kokostek commented on #665
There is really no need for a sample image. It can just be a random `vec_t` object.

This code runs fine:
[code]

and this asserts:
[code]

I'm running it under Visual Studio 2015 debugger. In order to detect access violation, you may have to use valgrind or something like that on your OS.

[2017-05-24 17:30] edgarriba commented on #640
@mrgloom we are planning to add interfaces to just load tensors, which means that you will be able to define your own architecture in plane cpp and then read/import trained parameters from whatever file you have it.

[2017-05-24 17:36] edgarriba commented on #665
@kokostek Just verified that we do not have proper tests for this. We should add it and so that we can fix the issue.

[2017-05-24 17:38] edgarriba opened #726 "Add tests for conv with no bias"
A user reported some issues with convolution without bias. We should add tests for this so that we can fix it.

[2017-05-24 20:18] teodorToshkov opened #727 "error: tiny_dnn/tiny_dnn.h: No such file or directory"

[2017-05-24 20:20] teodorToshkov opened #728 "error: tiny_dnn/tiny_dnn.h: No such file or directory"
Hello,
I am trying to include tiny-dnn in a Qt application on Windows 10 64-bit.
I have included the tiny_dnn.h header like so:
`#include "tiny_dnn/tiny_dnn.h"`
and in the .pro file:
`INCLUDEPATH += absolute_path(D:\Teodor Toshkov\Documents\Neural Networks\tiny-dnn)`
but it throws an error:
`error: tiny_dnn/tiny_dnn.h: No such file or directory`
Where could the problem be?

I ran `cmake -G "Visual

[2017-05-25 03:39] shimiaoli commented on #551
@dprylipko How long did it take you to compile the code ?  I am trying to compile something similar on Raspberry Pi 3 using the same command line. But the compilation process is very slow, almost consumes all the memory and seems to have caused system hanging.  Thanks.

[2017-05-25 04:46] pliptor commented on #728
I'm not sure if this helps you but I forked this full blown application that uses QT + tiny_dnn

https://github.com/pliptor/OpenIST

I compiled it in Linux but upstream has hooks for both Windows and Linux. Maybe referencing his files would help you.

[2017-05-25 15:48] #727 closed

[2017-05-25 15:54] teodorToshkov commented on #728
Thank you very much!
The issue was in that I had whitespace in the path to where I downloaded tiny-dnn, I moved it to another location and now it runs!

Have an awesome day!

[2017-05-25 16:04] pliptor commented on #728
Cool have fun.

[2017-05-25 16:06] Randl commented on #728
resolved

[2017-05-25 16:06] #728 closed

[2017-05-25 16:08] Randl commented on #723
Please try the latest version (master). There were many bugfixes since then.

[2017-05-25 16:23] Randl commented on #726
https://github.com/tiny-dnn/tiny-dnn/pull/730

[2017-05-25 16:23] Randl commented on #665
https://github.com/tiny-dnn/tiny-dnn/pull/730

[2017-05-27 16:02] blackccpie commented on #718
Thx for the tip, I tried the max with epsilon trick in the cross entropy multiclass derivative, but instead of a brutal drop I get a slow decrease. So think I'll stick with my current version for now, as an 98.3% score is enough for my needs.

[2017-05-28 04:25] MatthewScholefield opened #731 "Update documentation for new layers API"
[Here][feed-forward], on the documentation, a feed forward network still exists. I also was confused when reading [tutorials][tut] that referenced things like `fc<tanh>()`. Perhaps there should be a page reviewing API changes.

[feed-forward]:http://tiny-dnn.readthedocs.io/en/latest/layers/Layers.html#feedforward-layer
[tut]:http://linerocks.blogspot.com/2017/02/solving-xor-problem-using-tiny-dnn_

[2017-05-28 04:33] Randl commented on #731
@karandesai-96

[2017-05-28 06:34] gantoday opened #732 "build example_mnist_test fail"
![image](https://cloud.githubusercontent.com/assets/7780154/26526582/770b6390-43b2-11e7-90a2-5dabd02bf46d.png)
![image](https://cloud.githubusercontent.com/assets/7780154/26526593/b9fd8d5e-43b2-11e7-9af6-5213ad25a4ed.png)

how to fix it?

[2017-05-28 08:34] Randl commented on #732
I suppose you use an old compiler/that is actually compiler bug as the message says. Not enough information though

[2017-05-28 11:23] axelrodR opened #734 "Problems writing a ResNet network builder"
I am trying to create a class for easily building ResNet with tiny dnn. The builder exposes few functions that create and cascade several residual blocks (see  https://github.com/axelrodR/tiny-dnn/commit/982123e4cf89dc0a60f054c3893965559493d066 for full code).

[code]

and I have run into several issues:

 - Some layers do not allow/support 3d shapes. Is there a reason why the elementwise_add and

[2017-05-28 12:33] gantoday commented on #732
@Randl
Because memory is not enough.My memory is 2g.

[2017-05-29 04:07] karandesai-96 commented on #731
I think I should spend a weekend to review and remove traces of older API. Please keep this issue open till next weekend.

[2017-05-29 20:50] MatthewScholefield opened #735 "predict() is not marked const"
I was just curious, what side effects does running `predict()` cause and why can they not be eliminated? I would expect that just running the network on new inputs shouldn't change anything with it. My guess is that there's some sort of internal buffer that gets used. `predict` ultimately calls `forward()` at `layer.h:456` which reads:

[code]

[2017-05-30 01:20] MatthewScholefield commented on #410
Disclaimer: I have very little knowledge on the inner workings of cross entropy loss and adagrad/adam

I found that I was getting `nan` whenever my inputs had `0` in it. However, after changing 0 to something like 0.01, running `fit()` with cross entropy just makes the output values get closer and closer to either -1 or +1 despite some that should be going to 0.01.

[2017-05-30 01:29] sqw266 opened #736 "Detect a problem"
I found when I trained mnist data, my memory will increase little by little.(environment: win10 qt creator) I don't know to isn't a bug, it might be a little memory leaks

[2017-05-30 04:13] mobilesolution2016 opened #737 "Does this library dead?"
......
cmake, build by VC, mnist example, train, the result:

accuracy:19.7115% (41/208)
    *     1     2     3     4     5
    1    41    52    50    49    16
    2     0     0     0     0     0
    3     0     0     0     0     0
    4     0     0     0     0     0
    5     0     0     0     0     0

I have not change any things, but the result is so bad, what is this example for doing?

[2017-05-30 12:00] jnamdarirani commented on #718
I'm experiencing these exact same drops on cifar10 and mnist when I add some batch norm layers to the example training file. Here is the net containing the layers I added:
[code]

The default example w/o the BN layers improves accuracy every epoch (I got to 60+% accuracy under 10 epochs with default parameters). With the BN layers I get a better accuracy at the end of the first epoch and then it d

[2017-05-31 07:47] zchrissirhcz opened #738 "error: no member named 'output_to_image' in 'tiny_dnn::layer'"
Hi, I'm trying to compile the mnist example's test.cpp, and come up with an error, can anyone help me? Thanks!

System: OSX
Compiler: g++
code: master branch of tiny-dnn

compile command:
[code]

Which gives this output:
[code]

[2017-05-31 08:59] zchrissirhcz commented on #738
I just figure out where the problem is.

First, it is necessary to turn on `DNN_USE_IMAGE_API` in `tiny_dnn/config.h`.  Uncomment that.

Then compile with this comand line (on OS X):
[code]

and also, on ubuntu, I have to add pthread flag:
[code]

The mnist example's readme is tooooo short that skip some details for noobs like me.

[2017-05-31 10:14] zchrissirhcz commented on #738
Now I encounter this problem:

[code]

Can anyone help? Thanks

[2017-05-31 11:42] zchrissirhcz commented on #710
The readme's `build` part is too simple. It skips details, thus make noobs like me very confused.

Say, I'm on ubuntu16.04, just git cloned the latest tiny-dnn's code, and change to that folder and follow the readme's build instruction, so, what I type should be:

[code]

And consequently nothing is build. Why? because, I did not pass flags to cmake (like `-DBUILD_EXAMPLES=ON`). It's really strang

[2017-05-31 11:48] zchrissirhcz commented on #738
Now I've successfully compile examples by running this:
[code]

and trying to run examples, I find that mnist test example just fails to run:
[code]

While the cifar test example can give test result:
[code]

Since both mnist and cifar are easy examples, why mnist test example crush, while cifar is OK? Anyone can help? Thanks.

[2017-05-31 14:54] nishnik opened #740 "code repetition"
I was thinking that why not we create a text file with layer names and then use #define's to create functions.
Ex:
Suppose the file 'layers.inc` has:
[code]
Now in `serialization_functions.h`, we can just write:
[code]
And also:
[code]

And similarly in `serialization_layer_list.h`

[2017-05-31 15:59] blackccpie commented on #718
what loss function are you using for training? If you're using cross entropy, then your problem might be related to mine.

[2017-05-31 16:25] StripedBanana commented on #718
I didn't change it so it's the same as in the vanilla example.

[2017-05-31 21:28] edgarriba commented on #740
@nishnik please step into our developers room so that we an discuss it
https://gitter.im/tiny-dnn/developers

[2017-05-31 21:45] edgarriba commented on #710
@zchrissirhcz please send a PR with whatever you think should be there. We appreciate new people feedback :smile:

[2017-06-01 08:52] zchrissirhcz opened #742 "tiny-dnn does not support this layer type:Concat"
Hi, I'm trying to use tiny with my caffemodel and prototxt files. The model can be run correctly under Caffe framework, but fails in converting. I wonder if anyone met similar error?

I modified `tiny-dnn/examples/caffe_converter/caffe_converter.cpp` to use my models.

The modified source code can be compiled correctly, and when running, it complains that `Concat` layer is not suported. I have che

[2017-06-01 09:17] zchrissirhcz commented on #710
@edgarriba See this PR, thanks! https://github.com/tiny-dnn/tiny-dnn/pull/743

[2017-06-01 10:16] blitzkriegbooes opened #744 "Caffe_Converter isn't compatible with the latest master branch"
Hi,

I pulled the master, and tried compiling the **caffe_converter** using **VS 2013 (vc12 solution)**. But, I found the that the example caffe_converter code given with the checkout is **incompatible with the header files of tiny_dnn** (specifically **alexnet.h, optimizer.h, convolutional_layer.h** etc etc) as in, I got these errors -

_Error	16	error C2661: 'tiny_dnn::relu_layer::relu_layer' :